flows/Flow-Evaluation/Core-Flows/network/websocket/01 - Connect to websocket in server.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c014fc9f8a612184",
        "type": "websocket in",
        "z": "c74047fa59370239",
        "name": "",
        "server": "89db22b6.9aa36",
        "client": "",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "bac91fe9b831c582"
            ]
        ]
    },
    {
        "id": "bac91fe9b831c582",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "533dc39eca3e8966",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 360,
        "y": 180,
        "wires": [
            [
                "324f76db4897b98a"
            ]
        ]
    },
    {
        "id": "324f76db4897b98a",
        "type": "websocket out",
        "z": "c74047fa59370239",
        "name": "",
        "server": "",
        "client": "63620788.bda128",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "d0c8692182398558",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Connect to websocket in server",
        "info": "`websocket out` node can connect to web socket server.  `websocket in` node can serve a web socket server.\n",
        "x": 360,
        "y": 140,
        "wires": []
    },
    {
        "id": "89db22b6.9aa36",
        "type": "websocket-listener",
        "path": "/ws1",
        "wholemsg": "false"
    },
    {
        "id": "63620788.bda128",
        "type": "websocket-client",
        "path": "wss://localhost:8443/api/ws1",
        "tls": "b74801226ed9d557",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "b74801226ed9d557",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.cert",
        "keyname": "server.key",
        "caname": "ca.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]