flows/Flow-Evaluation/Core-Flows/network/websocket/02 - Connect to websocket out server.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb6b8db44ff917fe",
        "type": "websocket in",
        "z": "c74047fa59370239",
        "name": "",
        "server": "",
        "client": "1d80bd86.93f372",
        "x": 450,
        "y": 580,
        "wires": [
            [
                "8e773c0cae583b2b"
            ]
        ]
    },
    {
        "id": "8e773c0cae583b2b",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "20af8f6226b3eb1d",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Goodbye, World!",
        "payloadType": "str",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "422c01332d955bef"
            ]
        ]
    },
    {
        "id": "422c01332d955bef",
        "type": "websocket out",
        "z": "c74047fa59370239",
        "name": "",
        "server": "40bd4295.3e4ecc",
        "client": "",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "281f89574324c1dd",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Connect to websocket out server",
        "info": "`websocket out` node can connect to web socket server.  `websocket in` node can serve a web socket server.\n",
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "1d80bd86.93f372",
        "type": "websocket-client",
        "path": "wss://localhost:8443/api/ws2",
        "tls": "b74801226ed9d557",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "40bd4295.3e4ecc",
        "type": "websocket-listener",
        "path": "/ws2",
        "wholemsg": "false"
    },
    {
        "id": "b74801226ed9d557",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.cert",
        "keyname": "server.key",
        "caname": "ca.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]