flows/Flow-Evaluation/Core-Flows/function/switch/05 - Use JSONata for switch rule.json
[
    {
        "id": "1e758f114b976c7e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "175ceb0d.8dbe45",
        "type": "comment",
        "z": "1e758f114b976c7e",
        "name": "Use JSONata expression for rules",
        "info": "Switch node can use JSONata expression for calculating complex conditions.",
        "x": 440,
        "y": 260,
        "wires": []
    },
    {
        "id": "d89491c3.793a3",
        "type": "switch",
        "z": "1e758f114b976c7e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "(payload % 2) = 0",
                "vt": "jsonata"
            },
            {
                "t": "jsonata_exp",
                "v": "(payload % 2) = 1",
                "vt": "jsonata"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "d6cb78a6.872908"
            ],
            [
                "1f0c62bb.c3d52d"
            ]
        ]
    },
    {
        "id": "9ae9a2aa.a895c",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "1f0c62bb.c3d52d",
        "type": "change",
        "z": "1e758f114b976c7e",
        "name": "Odd",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "odd",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 380,
        "wires": [
            [
                "34b0a9fb.bafdb6"
            ]
        ]
    },
    {
        "id": "d6cb78a6.872908",
        "type": "change",
        "z": "1e758f114b976c7e",
        "name": "Even",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "even",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 300,
        "wires": [
            [
                "9ae9a2aa.a895c"
            ]
        ]
    },
    {
        "id": "34b0a9fb.bafdb6",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "7beb0333.a55bac",
        "type": "inject",
        "z": "1e758f114b976c7e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "7",
        "payloadType": "num",
        "x": 410,
        "y": 300,
        "wires": [
            [
                "d89491c3.793a3"
            ]
        ]
    },
    {
        "id": "a8db47cf.58ba18",
        "type": "inject",
        "z": "1e758f114b976c7e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "8",
        "payloadType": "num",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "d89491c3.793a3"
            ]
        ]
    }
]