pf_crypt/test_decrypt.json
[{"id":"1e758f114b976c7e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6509390634d208f9","type":"http request","z":"1e758f114b976c7e","name":"Get city coordinates","method":"GET","ret":"obj","paytoqs":"query","url":"http://188.166.16.132/geo/1.0/direct?appid=507697fdd55b0698d816d8c82ee7a655&limit=5&q={{payload.value}}","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":620,"y":120,"wires":[["3eb2f5ce2e0855e7"]]},{"id":"aead96f816218865","type":"http request","z":"1e758f114b976c7e","name":"Get weather data","method":"GET","ret":"obj","paytoqs":"query","url":"http://188.166.16.132/data/2.5/weather?appid=507697fdd55b0698d816d8c82ee7a655&units=metric","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":1210,"y":120,"wires":[["bac5864796c7d408","34cbd79729441c15"]]},{"id":"7c3d98dee1484ade","type":"http in","z":"1e758f114b976c7e","name":"","url":"/get-weather","method":"get","upload":false,"swaggerDoc":"","x":90,"y":220,"wires":[["6e559862efd41416","3efc420f6eb01974","4b6fdd93663a1f67"]]},{"id":"b8627146c7b00302","type":"debug","z":"1e758f114b976c7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"f7acfef9b7668e5b","type":"inject","z":"1e758f114b976c7e","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"value\":\"madrid\",\"format\":\"json\"}","payloadType":"json","x":370,"y":40,"wires":[["6509390634d208f9"]]},{"id":"3eb2f5ce2e0855e7","type":"function","z":"1e758f114b976c7e","name":"Pick coordinates of first result","func":"const city = msg.payload[0]\nreturn {\n    payload: {\n        lat: city.lat,\n        lon: city.lon\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":120,"wires":[["aead96f816218865"]]},{"id":"34cbd79729441c15","type":"debug","z":"1e758f114b976c7e","name":"debug","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1490,"y":20,"wires":[]},{"id":"bac5864796c7d408","type":"function","z":"1e758f114b976c7e","name":"","func":"\n\nconst main = msg.payload.main;\n\nconst response = \n`The temperature in ${msg.payload.name} is currently ${main.temp} but it feels like ${main.feels_like}.\nWindspeed: ${msg.payload.wind.speed} \nHumidity: ${main.humidity}%`;\n\nreturn {\n    payload: response,\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":120,"wires":[["bbecf56ac8677cfd","4b6fdd93663a1f67"]]},{"id":"bbecf56ac8677cfd","type":"debug","z":"1e758f114b976c7e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1730,"y":20,"wires":[]},{"id":"2dd4f7e75b813efc","type":"http response","z":"1e758f114b976c7e","name":"","statusCode":"200","headers":{"content-type":"text/plain"},"x":1940,"y":220,"wires":[]},{"id":"6e559862efd41416","type":"change","z":"1e758f114b976c7e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":220,"wires":[[]]},{"id":"3efc420f6eb01974","type":"function","z":"1e758f114b976c7e","name":"","func":"\nreturn {\n    payload: {\n        value: msg.payload.city,\n        format: \"json\"\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["6509390634d208f9"]]},{"id":"20c43256475e561a","type":"catch","z":"1e758f114b976c7e","name":"","scope":null,"uncaught":false,"x":100,"y":360,"wires":[["8c9a8a9626bbd28f"]]},{"id":"8c9a8a9626bbd28f","type":"debug","z":"1e758f114b976c7e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":360,"wires":[]},{"id":"4b6fdd93663a1f67","type":"join","z":"1e758f114b976c7e","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1710,"y":220,"wires":[["2dd4f7e75b813efc"]]},{"id":"f38a2b739897f0a8","type":"inject","z":"1e758f114b976c7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":480,"wires":[["92ccf91f556e2e2a"]]},{"id":"92ccf91f556e2e2a","type":"debug","z":"1e758f114b976c7e","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":480,"wires":[]}]