flows/Flow-Evaluation/Core-Flows/common/complete/01 - Handle completion of node execution.json
[
    {
        "id": "1e758f114b976c7e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9df3290f.c6d2e8",
        "type": "inject",
        "z": "1e758f114b976c7e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "96f1096b.2f82a8"
            ]
        ]
    },
    {
        "id": "96f1096b.2f82a8",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 640,
        "wires": []
    },
    {
        "id": "23811105.474c6e",
        "type": "complete",
        "z": "1e758f114b976c7e",
        "name": "",
        "scope": [
            "96f1096b.2f82a8"
        ],
        "uncaught": false,
        "x": 610,
        "y": 680,
        "wires": [
            [
                "f06a3fc9.6bab7"
            ]
        ]
    },
    {
        "id": "f06a3fc9.6bab7",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 680,
        "wires": []
    },
    {
        "id": "34d5ef47.79e72",
        "type": "comment",
        "z": "1e758f114b976c7e",
        "name": "Example: Complete Node",
        "info": "Complete node can catch completion of specified nodes.  It receives input of target node.",
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "6ed443a1.a0c3cc",
        "type": "comment",
        "z": "1e758f114b976c7e",
        "name": "Catch completion of a node",
        "info": "",
        "x": 420,
        "y": 600,
        "wires": []
    },
    {
        "id": "70b28e37.84edd",
        "type": "comment",
        "z": "1e758f114b976c7e",
        "name": "Catch completion of 1st debug node",
        "info": "",
        "x": 680,
        "y": 720,
        "wires": []
    }
]