flows/Flow-Evaluation/Core-Flows/sequence/split/01 - Split message payload.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f94ffc33.76f83",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Example: Split Message Payload",
        "info": "Split node can be used to split message payload into multiple messages.",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "657bb57c.a3f98c",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 580,
        "wires": [
            [
                "14228ff.ae24f7"
            ]
        ]
    },
    {
        "id": "2afece55.b87de2",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "cfca3863.d961d8"
            ]
        ]
    },
    {
        "id": "cfca3863.d961d8",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana",
        "output": "str",
        "x": 590,
        "y": 580,
        "wires": [
            [
                "657bb57c.a3f98c"
            ]
        ]
    },
    {
        "id": "14228ff.ae24f7",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "9a3c9494.b5d178",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Split input text by specified string",
        "info": "",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "38c873c.5ae718c",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split by newline (\\\\n)",
        "info": "",
        "x": 780,
        "y": 620,
        "wires": []
    },
    {
        "id": "bdfa12b9.3fbbc",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "4",
        "spltType": "len",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 700,
        "wires": [
            [
                "debf23bb.c0245"
            ]
        ]
    },
    {
        "id": "7c0948db.e35d38",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 700,
        "wires": [
            [
                "7f791b7d.94cad4"
            ]
        ]
    },
    {
        "id": "7f791b7d.94cad4",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana",
        "output": "str",
        "x": 590,
        "y": 700,
        "wires": [
            [
                "bdfa12b9.3fbbc"
            ]
        ]
    },
    {
        "id": "debf23bb.c0245",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "f05e98a3.4182c8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Split input text by specified number of characters",
        "info": "",
        "x": 500,
        "y": 660,
        "wires": []
    },
    {
        "id": "86b52b51.2258d8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split by four characters",
        "info": "",
        "x": 790,
        "y": 740,
        "wires": []
    },
    {
        "id": "71d7c0e0.c0316",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 730,
        "y": 840,
        "wires": [
            [
                "bee5b6a2.a955a8"
            ]
        ]
    },
    {
        "id": "1cdc2df9.bebdd2",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 840,
        "wires": [
            [
                "f30df13c.19475"
            ]
        ]
    },
    {
        "id": "f30df13c.19475",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[ \n    \"Apple\",\n    \"Orange\",\n    \"Banana\"\n]",
        "output": "json",
        "x": 590,
        "y": 840,
        "wires": [
            [
                "71d7c0e0.c0316"
            ]
        ]
    },
    {
        "id": "bee5b6a2.a955a8",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "b2c731fe.abda4",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Split input array",
        "info": "",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "1f557227.d0910e",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split array",
        "info": "",
        "x": 750,
        "y": 880,
        "wires": []
    },
    {
        "id": "c0d43ff4.291d8",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 730,
        "y": 960,
        "wires": [
            [
                "fc9fe458.50fd18"
            ]
        ]
    },
    {
        "id": "6d52ce8a.0c715",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 960,
        "wires": [
            [
                "bdeb8c21.1c6b7"
            ]
        ]
    },
    {
        "id": "bdeb8c21.1c6b7",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{ \n    \"Apple\": 80,\n    \"Orange\": 100,\n    \"Banana\": 50\n}",
        "output": "json",
        "x": 590,
        "y": 960,
        "wires": [
            [
                "c0d43ff4.291d8"
            ]
        ]
    },
    {
        "id": "fc9fe458.50fd18",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 860,
        "y": 960,
        "wires": []
    },
    {
        "id": "48956e14.79b86",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Split object to key/value pairs",
        "info": "",
        "x": 440,
        "y": 920,
        "wires": []
    },
    {
        "id": "d528c2c2.6efc7",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split object",
        "info": "",
        "x": 750,
        "y": 1000,
        "wires": []
    }
]