flows/Flow-Evaluation/Core-Flows/network/http/02 - Handle query parameters.json
[
    {
        "id": "c002e2a9dac5b11f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e7f5014d20ae207",
        "type": "http in",
        "z": "c002e2a9dac5b11f",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "b6a9c90bb3a2e0f8"
            ]
        ]
    },
    {
        "id": "2148b2410fcf787b",
        "type": "http response",
        "z": "c002e2a9dac5b11f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 440,
        "wires": []
    },
    {
        "id": "f33956e9ad16099f",
        "type": "comment",
        "z": "c002e2a9dac5b11f",
        "name": "Handle query parameters passed to an HTTP endpoint",
        "info": "The `HTTP in` node can accept query parameters passwd to an HTTP endpoint.  It use the `msg.req.query` property of the message sent by the HTTP In node to access the parameters.\n\nSee Node-RED cookbook [item](https://cookbook.nodered.org/http/handle-query-parameters) for details.",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "c7eedfb4caaeea57",
        "type": "inject",
        "z": "c002e2a9dac5b11f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 600,
        "y": 540,
        "wires": [
            [
                "b1ad277e09e03c01"
            ]
        ]
    },
    {
        "id": "ca7ecff0b5f49af9",
        "type": "debug",
        "z": "c002e2a9dac5b11f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 540,
        "wires": []
    },
    {
        "id": "5512f9a3598aac9b",
        "type": "comment",
        "z": "c002e2a9dac5b11f",
        "name": "Send HTTP GET request: https://localhost:8443/api/hello-query?name=Nick",
        "info": "`http request` node can be used to send **HTTP GET** request.",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "b6a9c90bb3a2e0f8",
        "type": "template",
        "z": "c002e2a9dac5b11f",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "output": "str",
        "x": 770,
        "y": 440,
        "wires": [
            [
                "2148b2410fcf787b"
            ]
        ]
    },
    {
        "id": "b1ad277e09e03c01",
        "type": "http request",
        "z": "c002e2a9dac5b11f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://localhost:8443/api/hello-query?name=Nick",
        "tls": "b74801226ed9d557",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 540,
        "wires": [
            [
                "ca7ecff0b5f49af9"
            ]
        ]
    },
    {
        "id": "b74801226ed9d557",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "server.cert",
        "keyname": "server.key",
        "caname": "ca.pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    }
]