flows/Flow-Evaluation/Complicated-Flow/url-monitor.json
[
    {
      "id": "7d84742.08f238c",
      "type": "tab",
      "label": "Setup",
      "disabled": false,
      "info": "When you install the flow you must initiliaze 2 files :\n- config \n- database\n \nConfig contains your configuration and database the list of all your checks.\n\n# Init config :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/init`\n \n# Delete config :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/init`\n"
    },
    {
      "id": "24572482.d3f29c",
      "type": "tab",
      "label": "Front",
      "disabled": false,
      "info": ""
    },
    {
      "id": "c5f66470.31a8f8",
      "type": "tab",
      "label": "Api - Checks",
      "disabled": false,
      "info": "# Get all checks :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/check`\n\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/checks`\n\n# Get one check :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n\n# Create a check :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/api/check`\n \n# Create all checks :\n`curl -X POST -H \"Content-Type: application/json\" http://{NODE-RED}/api/checks`\n \n# Modify a check :\n`curl -X PUT -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n \n# Delete a check :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/api/check/{ID}`\n"
    },
    {
      "id": "f580d428.4e4768",
      "type": "tab",
      "label": "Api - Config",
      "disabled": false,
      "info": "# Get config :\n`curl -X GET -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n\n# Create config :\n`curl -X POST -H \"Content-Type: application/json\" http:/{NODE-RED}/api/config`\n \n# Modify config :\n`curl -X PUT -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n \n# Delete config :\n`curl -X DELETE -H \"Content-Type: application/json\" http://{NODE-RED}/api/config`\n"
    },
    {
      "id": "a81d4931.2fa598",
      "type": "tab",
      "label": "Cron",
      "disabled": false,
      "info": ""
    },
    {
      "id": "af8756fb19d0b3c0",
      "type": "tab",
      "label": "Backup",
      "disabled": false,
      "info": ""
    },
    {
      "id": "26a0ef59.a800f",
      "type": "subflow",
      "name": "get config",
      "info": "",
      "category": "",
      "in": [
        {
          "x": 240,
          "y": 260,
          "wires": [
            {
              "id": "f1a31baf.0a7e18"
            }
          ]
        }
      ],
      "out": [
        {
          "x": 1080,
          "y": 260,
          "wires": [
            {
              "id": "dfb20c06.69cf2",
              "port": 0
            }
          ]
        }
      ],
      "env": [],
      "color": "#DDAA99"
    },
    {
      "id": "129e609e.f5085f",
      "type": "subflow",
      "name": "get db",
      "info": "",
      "category": "",
      "in": [
        {
          "x": 220,
          "y": 180,
          "wires": [
            {
              "id": "a846d258.6813b"
            }
          ]
        }
      ],
      "out": [],
      "env": [],
      "color": "#DDAA99"
    },
    {
      "id": "6bf330d9.f27a3",
      "type": "subflow",
      "name": "set config",
      "info": "",
      "category": "",
      "in": [
        {
          "x": 140,
          "y": 180,
          "wires": [
            {
              "id": "cf1435ee.a41268"
            }
          ]
        }
      ],
      "out": [],
      "env": [],
      "color": "#DDAA99"
    },
    {
      "id": "2c4dd4ee.225fac",
      "type": "subflow",
      "name": "set db",
      "info": "",
      "category": "",
      "in": [
        {
          "x": 140,
          "y": 160,
          "wires": [
            {
              "id": "14a6467c.b1192a"
            }
          ]
        }
      ],
      "out": [],
      "env": [],
      "color": "#DDAA99"
    },
    {
      "id": "06afd692f88faa11",
      "type": "websocket-listener",
      "path": "/ws",
      "wholemsg": "false"
    },
    {
      "id": "f1a31baf.0a7e18",
      "type": "change",
      "z": "26a0ef59.a800f",
      "name": "db path",
      "rules": [
        {
          "t": "set",
          "p": "filename",
          "pt": "msg",
          "to": "$env('CONFIG_PATH') & \"config.json\"",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "backup",
          "pt": "msg",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 380,
      "y": 260,
      "wires": [
        [
          "c690668b.fe2b38"
        ]
      ]
    },
    {
      "id": "c690668b.fe2b38",
      "type": "file in",
      "z": "26a0ef59.a800f",
      "name": "",
      "filename": "",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "none",
      "x": 550,
      "y": 260,
      "wires": [
        [
          "1a06c45b.513edc"
        ]
      ]
    },
    {
      "id": "1a06c45b.513edc",
      "type": "json",
      "z": "26a0ef59.a800f",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 730,
      "y": 260,
      "wires": [
        [
          "dfb20c06.69cf2"
        ]
      ]
    },
    {
      "id": "dfb20c06.69cf2",
      "type": "change",
      "z": "26a0ef59.a800f",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "config",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "backup",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 920,
      "y": 260,
      "wires": [
        []
      ]
    },
    {
      "id": "a846d258.6813b",
      "type": "change",
      "z": "129e609e.f5085f",
      "name": "db path",
      "rules": [
        {
          "t": "set",
          "p": "filename",
          "pt": "msg",
          "to": "$env('DB_PATH') & \"database.json\"",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 380,
      "y": 180,
      "wires": [
        [
          "38676b46.758b14"
        ]
      ]
    },
    {
      "id": "38676b46.758b14",
      "type": "file in",
      "z": "129e609e.f5085f",
      "name": "",
      "filename": "",
      "format": "utf8",
      "chunk": false,
      "sendError": false,
      "encoding": "none",
      "x": 550,
      "y": 180,
      "wires": [
        [
          "cc2a48b8.4b4928"
        ]
      ]
    },
    {
      "id": "cc2a48b8.4b4928",
      "type": "json",
      "z": "129e609e.f5085f",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 710,
      "y": 180,
      "wires": [
        [
          "6638081c6fcee417"
        ]
      ]
    },
    {
      "id": "f4996a01.b3ce68",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "index",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "    <div class=\"row\">\n      <div class=\"col-12\">\n        <div class=\"row row-cards\">\n            \n          <div class=\"col-3 text-white\">\n            <a class=\"col-12 btn btn-success\" href=\"/checks\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_healthy_percentage\">\n                </div>\n                <div class=\"h1 m-0\" id=\"check_healthy\"></div>\n                <div class=\"mb-4\">Healthy</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-3 text-white\">\n            <a class=\"col-12 btn btn-danger\" href=\"/issues\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_issues_percentage\">\n                </div>\n                <div class=\"h1 m-0\" id=\"check_issues\"></div>\n                <div class=\" mb-4\">Issues</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-secondary\" href=\"/issues\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_pending_percentage\">\n                </div>\n                <div class=\"h1 m-0\" id=\"check_pending\"></div>\n                <div class=\"text-white mb-4\">Pending</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-info\" href=\"/checks\">\n              <div class=\"text-center text-white\">\n                <div class=\"text-right\" id=\"check_url_percentage\">\n                </div>\n                <div class=\"h1 m-0\"  id=\"check_url\"></div>\n                <div class=\"text-white mb-4\">Valid</div>\n              </div>\n            </a>\n          </div>\n          <div class=\"col-2 text-white\">\n            <a class=\"col-12 btn btn-primary\" href=\"/checks\">\n              <div class=\"text-center\">\n                <div class=\"text-right\" id=\"check_active_percentage\">\n                </div>\n                <div class=\"h1 m-0\" id=\"check_active\"></div>\n                <div class=\"text-white mb-4\">Active</div>\n              </div>\n            </a>\n          </div>\n\n        </div>\n        <br>\n        <div class=\"row row-cards\">\n          <div class=\"col-12\">\n            <div class=\"card\">\n              <table class=\"table card-table table-borderless table-vcenter\">\n                <tbody>\n                  <tr>\n                    <td class=\"text-secondary\">Status 1xx</td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-secondary text-white\" id=\"check_status1\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-success\"><strong>Status 2xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-success text-white\" id=\"check_status2\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-info\"><strong>Status 3xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-info text-white\" id=\"check_status3\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-warning\"><strong>Status 4xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-warning text-white\" id=\"check_status4\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-danger\"><strong>Status 5xx</strong></td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-danger text-white\" id=\"check_status5\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-secondary\">Status Pending</td>\n                    <td class=\"text-right\">\n                      <h3><span class=\"badge bg-secondary text-white\" id=\"check_status6\"></span></h3>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td class=\"text-danger\">Status error</td>\n                    <td class=\"text-right\">\n                    <h3><span class=\"badge bg-danger text-white\">0</span></h3>\n                    </td>\n                  </tr>\n                </tbody>\n              </table>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n",
      "output": "str",
      "x": 550,
      "y": 180,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "7f912e8e.c48f7",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 350,
      "y": 60,
      "wires": [
        [
          "9ae97270.780ff"
        ]
      ]
    },
    {
      "id": "b583827d.61835",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "checks",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent\">\n                        <h3 class=\"card-title\">Checks  (<span id=\"badge_checks_count\">0</span>) </h3>\n                        <div class=\"block\">\n                            <span class=\"card-options\">\n                                <a class=\"btn btn-danger btn-sm\" href=\"/issues\">Issues <span class=\"badge bg-warning\" id=\"badge_issues_count\">0</span></a>\n                            </span>\n                            <span class=\"card-options\" style=\"float:right;\">\n                                <a class=\"btn btn-success btn-sm ml-1\" href=\"/api/checks\" target=\"_blank\">JSON</a>\n                            </span>\n                        </div>\n                    </div>\n                    <div class=\"table-responsive\">\n                        <table class=\"table card-table table-vcenter\">\n                            <thead>\n                                <tr>\n                                    <th colspan=2>Active</th>\n                                    <th>Name</th>\n                                    <th>Cron</th>\n                                    <th>Url</th>\n                                    <th>Method</th>\n                                    <th>Status</th>\n                                    <th></th>\n                                </tr>\n                            </thead>\n\n                            <tbody id=\"listbody\">\n                            </tbody>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>\n",
      "output": "str",
      "x": 560,
      "y": 240,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "71a35f77.f189e",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/checks",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 370,
      "y": 240,
      "wires": [
        [
          "b583827d.61835"
        ]
      ]
    },
    {
      "id": "9c8d00b1.bef26",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "admin",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Configuration</h3>\n                                <span class=\"card-options\" style=\"float:right;\">\n                                    <a class=\"btn btn-success btn-sm ml-1\" href=\"/api/config\" target=\"_blank\">JSON</a>\n                                </span>\n                            </div>\n                            <div class=\"card-body\">\n                                <p><a href=\"/settingsEdit\"><button class=\"btn btn-info text-white\"> Edit</button></a></p>\n                                <p><strong>YoctuMail:</strong> <code id=\"config_yoctu\"></code></p>\n                                <p><strong>Webhook:</strong> <code id=\"config_webhook\"></code></p>\n                                <p><strong>Prometheus:</strong> <code id=\"config_prometheus\"></code></p>\n                                <p><strong>Elastic:</strong> <code id=\"config_elastic\"></code></p>\n                            </div>\n                        </div>\n                    </div>\n                </div><br>\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Export/Import</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <a href=\"/api/export\" download=\"export.json\"><button class=\"btn btn-info text-white\" id=\"export\"> Export</button></a><br>\n                                <form action=\"/api/import\" method=\"POST\" enctype=\"multipart/form-data\">\n                                    <input type=\"file\" id=\"import\" name=\"files\">\n                                    <input class=\"btn btn-info text-white\" type=\"submit\">\n                                </form>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>",
      "output": "str",
      "x": 550,
      "y": 300,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "175f7df5.cb4982",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/admin",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 370,
      "y": 300,
      "wires": [
        [
          "9c8d00b1.bef26"
        ]
      ]
    },
    {
      "id": "b494167e.d7c988",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "new",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-12\">\n                        <div class=\"card text-white bg-success text-center\" id=\"card_created\" style=\"display:none;\">\n                            <div class=\"card-body\"></div>\n                        </div>\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">New Check</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                    <div class=\"form-inputs\">\n                                        <div class=\"form-group check_name\">\n                                            <label class=\"form-control-label\" for=\"check_name\">Name \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_name\" />\n                                        </div>\n                                        <fieldset class=\"form-group check_active\">\n                                            <div class=\"form-check form-inline\">\n                                                <input class=\"form-check-input\" type=\"checkbox\" value=\"1\" id=\"check_active\" checked/>\n                                                <label class=\"form-check-label\" for=\"check_active\">Active</label></div>\n                                                <input class=\"form-check-input\" type=\"checkbox\" value=\"1\" id=\"check_force\" checked/>\n                                                <label class=\"form-check-label\" for=\"check_force\">Force</label></div>\n                                        </fieldset>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"check_cron\">Cron \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <select class=\"form-select\" id=\"check_cron\">\n                                                <option selected>5</option>\n                                                <option>2</option>\n                                                <option>1</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_shaq\">\n                                            <label class=\"form-control-label\" for=\"check_url\">Url \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control string\" type=\"url\" id=\"check_url\" />\n                                        </div>\n                                        <div class=\"form-group check_method\">\n                                            <label class=\"form-control-label\" for=\"check_method\">Method \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <select class=\"form-control\" id=\"check_method\">\n                                                <option>GET</option>\n                                                <option>POST</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_header\">\n                                            <label class=\"form-control-label\" for=\"check_header\">Header </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_header\" />\n                                        </div>\n                                        <div class=\"form-group check_status\">\n                                            <label class=\"form-control-label\" for=\"check_status\">Status Code \n                                                <abbr title=\"required\">*</abbr>\n                                            </label>\n                                            <input class=\"form-control\" type=\"text\" id=\"check_status\" value=\"200\"/>\n                                        </div>\n                                    </div>\n                                    <div class=\"form-actions m-3\">\n                                        <input type=\"submit\" name=\"commit\" id=\"commit\" value=\"Create Check\"\n                                            class=\"btn btn btn-primary\" data-disable-with=\"Create Check\" />\n                                    </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>",
      "output": "str",
      "x": 550,
      "y": 360,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "951b126e.0b354",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/new",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 360,
      "y": 360,
      "wires": [
        [
          "b494167e.d7c988"
        ]
      ]
    },
    {
      "id": "3ff70c3d.b03a84",
      "type": "http response",
      "z": "24572482.d3f29c",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1110,
      "y": 360,
      "wires": []
    },
    {
      "id": "9d52906f.e063f",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "display",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-12\">\n                        <div class=\"card text-white bg-danger\" id=\"card_deleted\" style=\"display:none;\">\n                            <div class=\"card-body\">\n                                Check deleted.\n                            </div>\n                        </div>\n                        <br>\n                        <div class=\"card\" id=\"card_is_deleted\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 id=\"display_name_title\" class=\"card-title\"></h3>\n                                <div class=\"card-options text-right\">\n                                    <a class=\"btn btn-success btn-sm\" id=\"check_json\" href=\"\" target=\"_blank\">JSON</a>\n                                </div>\n                            </div>\n                            <div class=\"card-body\">\n                                <p>\n                                    <a class=\"btn btn-outline-info btn-sm\" id=\"check_edit\" href=\"\"> Edit</a>\n                                    <a class=\"btn btn-outline-primary btn-sm\" id=\"check_now\" href=\"\"> Check Now</a>\n                                    <div id=\"notice\"></div>\n                                </p>\n                                <p>\n                                    <strong>Name:</strong>\n                                    <span class=\"text-green\" id=\"check_name\"></span>\n                                </p>\n                                <p>\n                                    <strong>Active:</strong>\n                                    <span class=\"text-green\" id=\"check_active\"></span>\n                                </p>\n                                <p>\n                                    <strong>Force:</strong>\n                                    <span class=\"text-green\" id=\"check_force\"></span>\n                                </p>\n                                <p>\n                                    <strong>Cron:</strong>\n                                    <select class=\"form-control\" id=\"check_cron\" readonly>\n                                        <option>5</option>\n                                        <option>2</option>\n                                        <option>1</option>\n                                    </select>\n                                </p>\n                                <p>\n                                    <strong>URL:</strong>\n                                    <a id=\"check_url\" href=\"\"></a>\n                                </p>\n                                <p>\n                                    <div class=\"form-inline form-group\">\n                                        <label for=\"method\"><strong>Method:  </strong></label>\n                                        <select class=\"form-control\" id=\"check_method\" readonly>\n                                            <option>GET</option>\n                                            <option>POST</option>\n                                            <option>PUT</option>\n                                            <option>PATCH</option>\n                                        </select>\n                                    </div>\n                                </p>\n                                <p>\n                                    <strong>Header:</strong>\n                                    <span id=\"check_header\"></span>\n                                </p>\n                                <p>\n                                    <strong>Status:</strong>\n                                    <span class=\"text-success\">\n                                        <strong  id=\"check_status\"></strong>\n                                    </span>\n                                </p>\n                                <p>\n                                    <strong>Created date:</strong>\n                                    <span id=\"check_creation\"></span>\n                                </p>\n                                <p>\n                                    <strong>Last contact:</strong>\n                                    <span id=\"check_last\"></span>\n                                </p>\n                                <p>\n                                    <btn class=\"btn btn-outline-danger btn-sm\" id=\"check_delete\"> Delete</a>\n                                </p>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>",
      "output": "str",
      "x": 560,
      "y": 420,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "35c9552f.a366ba",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/display/:id?",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 380,
      "y": 420,
      "wires": [
        [
          "9d52906f.e063f"
        ]
      ]
    },
    {
      "id": "febaf8ac.441858",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/check/:id?",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 130,
      "y": 280,
      "wires": [
        [
          "5331d38e.df6ffc"
        ]
      ]
    },
    {
      "id": "b29a781.a9b5588",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 1200,
      "y": 320,
      "wires": []
    },
    {
      "id": "5331d38e.df6ffc",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "req.params.id",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nnull"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 330,
      "y": 220,
      "wires": [
        [
          "68598f0145c8a5c4"
        ],
        [
          "0e63ab8d0bf001f6"
        ]
      ]
    },
    {
      "id": "44a1af11.de46d",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/check",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 120,
      "y": 380,
      "wires": [
        [
          "6f3899ac4fa6aef0"
        ]
      ]
    },
    {
      "id": "14679b05.c929b5",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "201",
      "headers": {},
      "x": 1020,
      "y": 540,
      "wires": []
    },
    {
      "id": "6c7c1c96.f2bb94",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "error.status",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "0",
          "vt": "num"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 530,
      "y": 380,
      "wires": [
        [
          "15763a50.721ca6"
        ],
        [
          "4fac9422.79a52c"
        ]
      ]
    },
    {
      "id": "4fac9422.79a52c",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "500",
      "headers": {},
      "x": 720,
      "y": 420,
      "wires": []
    },
    {
      "id": "b6acee50.494a6",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/check/:id",
      "method": "put",
      "upload": false,
      "swaggerDoc": "",
      "x": 130,
      "y": 560,
      "wires": [
        [
          "716d8604.d37e98"
        ]
      ]
    },
    {
      "id": "ca5f251b.4072b8",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 740,
      "y": 560,
      "wires": []
    },
    {
      "id": "df19c676.6e67f8",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "edit",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "      <div class=\"row\">\n        <div class=\"col-12\">\n          <div class=\"card text-white bg-success\" id=\"card_updated\" style=\"display:none;\">\n            <div class=\"card-body\">\n                Check updated.\n            </div>\n          </div>\n          <br>\n          <div class=\"row\">\n            <div class=\"col-md-8\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent\">\n                        <h3 class=\"card-title\">Editing Check</h3>\n                    </div>\n                    <div class=\"card-body\">\n                        <div class=\"form-inputs\">\n                            <div class=\"form-group form-group-valid\">\n                                <label class=\"form-control-label\" for=\"check_name\">Name <abbr title=\"required\">*</abbr></label>\n                                <input class=\"form-control\" type=\"text\" id=\"check_name\" /></div>\n                                <fieldset class=\"form-group\">\n                                    <div class=\"form-check\">\n                                        <input class=\"form-check-input\" type=\"checkbox\" id=\"check_active\" />\n                                        <label class=\"form-check-label\" for=\"check_active\">Active</label>\n                                    </div>\n                                    <div class=\"form-check\">\n                                        <input class=\"form-check-input\" type=\"checkbox\" id=\"check_force\" />\n                                        <label class=\"form-check-label\" for=\"check_force\">Force</label>\n                                    </div>\n                                </fieldset>\n                                <div class=\"form-group check_cron form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_cron\">Cron <abbr title=\"required\">*</abbr></label>\n                                    <select class=\"form-select\" id=\"check_cron\">\n                                        <option selected>5</option>\n                                        <option>2</option>\n                                        <option>1</option>\n                                    </select>\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_url\">Url <abbr title=\"required\">*</abbr></label>\n                                    <input class=\"form-control\" type=\"url\" id=\"check_url\" />\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_method\">Method <abbr title=\"required\">*</abbr></label>\n                                    <select class=\"form-control\" id=\"check_method\">\n                                        <option>GET</option>\n                                        <option>POST</option>\n                                        <option>PUT</option>\n                                        <option>PATCH</option>\n                                    </select>\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_header\">Header </label>\n                                    <input class=\"form-control\" type=\"text\" id=\"check_header\" />\n                                </div>\n                                <div class=\"form-group form-group-valid\">\n                                    <label class=\"form-control-label\" for=\"check_status\">Status <abbr title=\"required\">*</abbr></label>\n                                    <input class=\"form-control\" type=\"status\" id=\"check_status\" />\n                                </div>\n                            </div>\n                            <div class=\"container m-3\">\n                                <button class=\"btn btn btn-info\" id=\"check_update\"> Update</button>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n      </div>",
      "output": "str",
      "x": 550,
      "y": 480,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "ba79475e.c4e3f8",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/edit/:id?",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 370,
      "y": 480,
      "wires": [
        [
          "df19c676.6e67f8"
        ]
      ]
    },
    {
      "id": "34eed8a3.e7e748",
      "type": "http in",
      "z": "f580d428.4e4768",
      "name": "",
      "url": "/api/config",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 80,
      "wires": [
        [
          "8968d2a3.26f41"
        ]
      ]
    },
    {
      "id": "f6c1a8f0.b61ee8",
      "type": "http response",
      "z": "f580d428.4e4768",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 600,
      "y": 80,
      "wires": []
    },
    {
      "id": "6f12c2fe.348a5c",
      "type": "http in",
      "z": "f580d428.4e4768",
      "name": "",
      "url": "/api/config",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 280,
      "wires": [
        [
          "ebdf9072.585b4",
          "986c7912.d8c0a8"
        ]
      ]
    },
    {
      "id": "986c7912.d8c0a8",
      "type": "http response",
      "z": "f580d428.4e4768",
      "name": "",
      "statusCode": "201",
      "headers": {},
      "x": 440,
      "y": 240,
      "wires": []
    },
    {
      "id": "d7dea9d3.d167e8",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/js/ping.js",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 370,
      "y": 120,
      "wires": [
        [
          "cf73eb5b.e0e558"
        ]
      ]
    },
    {
      "id": "cf73eb5b.e0e558",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "js",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "function btnInit() {\n    $(\"#btn-home\").removeClass(\"btn-primary\").addClass(\"btn-outline-primary\");\n    $(\"#btn-admin\").removeClass(\"btn-secondary\").addClass(\"btn-outline-secondary\");\n    $(\"#btn-list\").removeClass(\"btn-info\").addClass(\"btn-outline-info\");\n    $(\"#btn-add\").removeClass(\"btn-success\").addClass(\"btn-outline-succees\");\n}\n\nfunction statusChecks() {\n    $.ajax({url: \"/api/checks\"})\n    .done(function(checks, textStatus, xhr) {\n    $(\"#home_status\").html(xhr.status).addClass(\"text-success\");;\n    let url = 0;\n    let active = 0;\n    let healthy = 0;\n    let issues = 0;\n    let pending = 0;\n    let statuses = [];\n    for (let i = 1; i <= 6; i++ ) statuses[i.toString()] = 0;\n    for ( let c in checks) {\n        url++;\n        if (parseInt(checks[c].active)) active++;\n        if (parseInt(checks[c].statusCode) === 600) pending++;\n        if (parseInt(checks[c].active) && (parseInt(checks[c].status) === parseInt(checks[c].statusCode))) healthy++;\n        if (parseInt(checks[c].active) && (parseInt(checks[c].status) !== parseInt(checks[c].statusCode)) && (parseInt(checks[c].statusCode) !== 600)) issues++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"1\")) statuses[\"1\"]++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"2\")) statuses[\"2\"]++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"3\")) statuses[\"3\"]++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"4\")) statuses[\"4\"]++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"5\")) statuses[\"5\"]++;\n        if (parseInt(checks[c].active) && checks[c].statusCode.toString().startsWith(\"6\")) statuses[\"6\"]++;\n    }\n    $(\"#check_active\").html(active);\n    $(\"#check_active_percentage\").html(parseInt(active/Math.max(checks.length*100,100)) + \"%\");\n    $(\"#check_healthy\").html(healthy);\n    $(\"#check_healthy_percentage\").html(parseInt(healthy/Math.max(active,1)*100) + \"%\");\n    $(\"#check_issues\").html(issues);\n    $(\"#check_issues_percentage\").html(parseInt(issues/Math.max(active,1)*100) + \"%\");\n    $(\"#check_pending\").html(pending);\n    $(\"#check_pending_percentage\").html(parseInt(pending/Math.max(active,1)*100) + \"%\");\n    $(\"#check_url\").html(url);\n    $(\"#check_url_percentage\").html(parseInt(url/Math.max(active,1)*100) + \"%\");\n    $(\"#check_status1\").html(statuses[\"1\"]);\n    $(\"#check_status2\").html(statuses[\"2\"]);\n    $(\"#check_status3\").html(statuses[\"3\"]);\n    $(\"#check_status4\").html(statuses[\"4\"]);\n    $(\"#check_status5\").html(statuses[\"5\"]);\n    $(\"#check_status6\").html(statuses[\"6\"]);\n    });\n}\n\nfunction deleteCheck(that) {\n        $.ajax({\n            method: \"DELETE\",\n            datatype: \"json\",\n            url: \"/api/check/\" + $(that).data(\"id\")\n        })\n        .done(function(data) {\n            $(that).closest(\"tr\").css(\"display\",\"none\")\n        });\n}\n\nfunction statusCheck(that) {\n    let active = 1;\n    if ($(that).data(\"active\")) active = 0;\n    $.ajax({\n        method: \"PUT\",\n        datatype: \"json\",\n        data: { active: active },\n        url: \"/api/check/\" + $(that).data(\"id\")\n    })\n    .done(function(data) {\n        if (active) {\n            $(that).removeClass(\"btn-outline-primary\").addClass(\"btn-primary\");\n            $(that).html(\"On\");\n            $(that).data(\"active\",true);\n        } else {\n            $(that).removeClass(\"btn-primary\").addClass(\"btn-outline-primary\");\n            $(that).html(\"Off\");\n            $(that).data(\"active\",false);\n        }\n    });\n}\n\nfunction displayCheck() {\n    $(\"#check_edit\").attr(\"href\",\"/edit/\" + window.location.pathname.split(\"/\")[2]);\n    $(\"#check_json\").attr(\"href\",\"/api/check/\" + window.location.pathname.split(\"/\")[2]);\n    $.ajax({\n            method: \"GET\",\n            datatype: \"json\",\n            url: \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#display_name_title\").html(data.name);\n            $(\"#check_name\").val(data.name).html(data.name);\n            $(\"#check_url\").val(data.url).html(data.url).attr(\"href\",data.url);\n            $(\"#check_method\").val(data.method);\n            $(\"#check_header\").val(data.header).html(data.header);\n            $(\"#check_cron\").val(data.cron);\n            $(\"#check_status\").val(data.status).html(data.status);\n            $(\"#check_active\").prop(\"checked\", parseInt(data.active)).html(data.active);\n            $(\"#check_force\").prop(\"checked\", parseInt(data.force)).html(data.force);\n            $(\"#check_last\").html(data.date.substring(0,16).replace(\"T\",\" \"));\n            $(\"#check_creation\").html(data.created_at.substring(0,16).replace(\"T\",\" \"));\n        });\n}\n\nfunction listInit () {\n    $(\"#listbody\").html('');\n    $.ajax({\n    url: \"/api/checks\"})\n        .done(function(checks) {\n        $(\"#badge_checks_count\").html(checks.length);\n        let issues = 0;\n        for (let c in checks) {\n            let color = \"success\";\n            if ((parseInt(checks[c].statusCode) !== parseInt(checks[c].status) && parseInt(checks[c].statusCode) !== 600)) {\n                issues++;\n                color = \"danger\";\n            }\n            if (parseInt(checks[c].statusCode) === 600) color = \"secondary\";\n            let active = \"Off\";\n            let activeBtn = \"outline-\";\n            if (parseInt(checks[c].active)) {\n                active = \"On\";\n                activeBtn = \"\";\n            }\n            $(\"#listbody\").append('<tr><td><btn class=\"btn btn-' + activeBtn + 'primary\" onclick=\"statusCheck(this);\" data-id=\"' + checks[c].id + '\" data-active=\"' + checks[c].active + '\" >' + active + '</btn></td>\\\n                        <td><a href=\"/display/' + checks[c].id + '/edit\"></a></td>\\\n                        <td><div><strong><a href=\"/display/' + checks[c].id + '\">' + checks[c].name + '</a></strong></div>\\\n                            <div class=\"small text-muted\"><span class=\"text-' + color + '\"><strong>' + checks[c].status + '</strong></span></td>\\\n                        <td class=\"text-nowrap\"><div><strong>* / ' + checks[c].cron + '</strong></div></td>\\\n                        <td><div class=\"success\"><a href=\"' + checks[c].url + '\" target=\"_blank\">' + checks[c].url + '</a></div>\\\n                            <div class=\"small text-muted\">Last: ' + checks[c].date.substring(0,16).replace(\"T\",\" \") + '</div></td>\\\n                            <td><span class=\"badge bg-' + color + '\">' + checks[c].statusCode + '</span>\\\n                            <div class=\"small text-muted\"><a href=\"/api/check/' + checks[c].id + '\" target=\"_blank\">cron_' + checks[c].id + '</a></div></td>\\\n                        <td><button class=\"btn btn-outline-danger\" onclick=\"deleteCheck(this);\" data-id=\"' + checks[c].id + '\">Del</button></td>\\\n                </tr>');\n        }\n        $(\"#badge_issues_count\").html(issues);\n  })\n}\n\nfunction listIssues () {\n    $(\"#listbody\").html('');\n    $.ajax({url: \"/api/issues\"})\n        .always(function(result) {\n        let checks = result.responseJSON;\n        let issues = 0\n            for (let c in checks) {\n                if (parseInt(checks[c].active) && (parseInt(checks[c].statusCode) !== parseInt(checks[c].status))) {\n                    issues++;\n                    let active = \"Off\";\n                    let activeBtn = \"outline-\";\n                    if (parseInt(checks[c].active)) {\n                        active = \"On\";\n                        activeBtn = \"\";\n                    }\n                    $(\"#listbody\").append('<tr><td><btn class=\"btn btn-' + activeBtn + 'primary\" onclick=\"statusCheck(this);\" data-id=\"' + checks[c].id + '\" data-active=\"' + checks[c].active + '\" >' + active + '</btn></td>\\\n                            <td><a href=\"/display/' + checks[c].id + '/edit\"></a></td>\\\n                            <td><div><strong><a href=\"/display/' + checks[c].id + '\">' + checks[c].name + '</a></strong></div>\\\n                                <div class=\"small text-muted\"><span class=\"text-danger\"><strong>' + checks[c].status + '</strong></span></td>\\\n                            <td class=\"text-nowrap\"><div><strong>* / ' + checks[c].cron + '</strong></div></td>\\\n                            <td><div class=\"success\"><a href=\"' + checks[c].url + '\" target=\"_blank\">' + checks[c].url + '</a></div>\\\n                                <div class=\"small text-muted\">Last: ' + ('date' in checks[c] ? checks[c].date.substring(0,16).replace(\"T\",\" \") : '' ) + '</div></td>\\\n                            <td><span class=\"badge badge-danger\">' + checks[c].statusCode + '</span>\\\n                                <div class=\"small text-muted\"><a href=\"/api/check/' + checks[c].id + '\" target=\"_blank\">cron_' + checks[c].id + '</a></div></td>\\\n                            <td><button class=\"btn btn-outline-danger\" onclick=\"deleteCheck(this);\" data-id=\"' + checks[c].id + '\">Del</button></td>\\\n                    </tr>');\n                }\n            }\n            $('#issues_count').html(issues)\n        });\n}\n\nfunction homeTimer(myfunc) {\n    var home_timer = 59;\n    setInterval(function(){ home_timer = 59; myfunc(); }, 60000);\n    setInterval(function(){ \n    $(\"#home_timer\").html((home_timer--).toString()); \n        if (home_timer < 50) $(\"#home_status\").removeClass(\"text-success\");\n    }, 1000);\n}\n\n$(document).ready(function() {\n\n    btnInit();\n    switch (window.location.pathname.substring(0, 4)) {\n        case \"/hom\": \n            $(\"#btn-home\").addClass(\"btn-primary\").removeClass(\"btn-outline-primary\")\n            statusChecks();\n            homeTimer(statusChecks);\n            break;\n        case \"/adm\":\n            $(\"#btn-admin\").addClass(\"btn-secondary\").removeClass(\"btn-outline-secondary\")\n            $.ajax({url: \"/api/config\"})\n            .done(function(data) {\n                $(\"#config_webhook\").html(JSON.stringify(data.webhook));\n                $(\"#config_prometheus\").html(JSON.stringify(data.prometheus));\n                $(\"#config_elastic\").html(JSON.stringify(data.elastic));\n                $(\"#config_yoctu\").html(JSON.stringify(data.yoctu));\n            });\n            break;\n        case \"/not\":\n            $(\"#btn-notif\").addClass(\"btn-warning\").removeClass(\"btn-outline-warning\")\n            break;\n        case \"/new\":\n            $(\"#btn-add\").addClass(\"btn-success\").removeClass(\"btn-outline-success\")\n            break;\n        case \"/set\":\n            $(\"#btn-admin\").addClass(\"btn-secondary\").removeClass(\"btn-outline-secondary\")\n            $.ajax({\n                method: \"GET\",\n                url: \"/api/config\"\n            })\n            .done(function(data) {\n                $(\"#config_elastic_url\").val(JSON.stringify(data.elastic.url).replace(/\"/g,\"\"));\n                $(\"#config_elastic_method\").val(JSON.stringify(data.elastic.method).replace(/\"/g,\"\"));\n                $(\"#config_webhook_url\").val(JSON.stringify(data.webhook.url).replace(/\"/g,\"\"));\n                $(\"#config_webhook_method\").val(JSON.stringify(data.webhook.method).replace(/\"/g,\"\"));\n                $(\"#config_webhook_header\").val(data.webhook.header);\n                $(\"#config_webhook_payload\").val(data.webhook.payload);\n                $(\"#config_yoctu_url\").val(JSON.stringify(data.yoctu.url).replace(/\"/g,\"\"));\n                $(\"#config_yoctu_header\").val(data.yoctu.header);\n                $(\"#config_yoctu_recipient\").val(data.yoctu.recipient);\n            });\n            break;\n        case \"/edi\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            displayCheck();\n            break;\n        case \"/che\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            listInit();\n            homeTimer(listInit);\n            break;\n        case \"/dis\":\n            $(\"#btn-list\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            displayCheck();\n            break;\n        case \"/iss\":\n            $(\"#btn-issues\").addClass(\"btn-info\").removeClass(\"btn-outline-info\")\n            listIssues();\n            homeTimer(listIssues);\n            break;\n    }\n\n    $(\"#check_now\").on(\"click\", function() {\n        $.ajax({\n            method: \"POST\",\n            datatype: \"json\",\n            url: \"/api/checknow/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            console.log(data)\n        });\n    });\n    \n    $(\"#check_update\").on(\"click\", function() {\n        $.ajax({\n            method: \"PUT\",\n            datatype: \"json\",\n            data: { name: $(\"#check_name\").val(), status: $(\"#check_status\").val(), method: $(\"#check_method\").val(), url: $(\"#check_url\").val(), cron: parseInt($(\"#check_cron\").val()), active: $(\"#check_active\").is(\":checked\") ? \"1\" : \"0\", force: $(\"#check_force\").is(\":checked\") ? \"1\" : \"0\", \"header\": $(\"#check_header\").val() },\n            url: \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#card_updated\").css(\"display\",\"block\");\n        });\n    });\n    \n    $(\"#config_update\").on(\"click\", function() {\n        $.ajax({\n            method: \"PUT\",\n            datatype: \"json\",\n            data: { elastic: { url: $(\"#config_elastic_url\").val(), method: $(\"#config_elastic_method\").val() }, yoctu: { url: $(\"#config_yoctu_url\").val(), header: $(\"#config_yoctu_header\").val(), recipient: $(\"#config_yoctu_recipient\").val() }, webhook: { url: $(\"#config_webhook_url\").val(), header: $(\"#config_webhook_header\").val(), method: $(\"#config_webhook_method\").val(), payload: $(\"#config_webhook_payload\").val() }},\n            url: \"/api/config\"\n        })\n        .done(function(data) {\n            $(\"#card_updated\").css(\"display\",\"block\");\n        });\n    }); \n\n    $(\"#check_delete\").on(\"click\", function() {\n        $.ajax({\n            method: \"DELETE\",\n            datatype: \"json\",\n            url: \"/api/check/\" + window.location.pathname.split(\"/\")[2]\n        })\n        .done(function(data) {\n            $(\"#card_deleted\").css(\"display\",\"block\");\n            $(\"#card_is_deleted\").css(\"display\",\"none\");\n        });\n    });\n\n    $(\"#commit\").on(\"click\", function() {\n        $.ajax({\n            method: \"POST\",\n            datatype: \"json\",\n            url: \"/api/check\",\n            data: { \n                \"active\": $(\"#check_active\").is(\":checked\") ? 1 : 0,\n                \"force\": $(\"#check_force\").is(\":checked\") ? 1 : 0,\n                \"name\": $(\"#check_name\").val(),\n                \"url\": $(\"#check_url\").val(),\n                \"status\": parseInt($(\"#check_status\").val()),\n                \"method\": $(\"#check_method\").val(),\n                \"cron\": parseInt($(\"#check_cron\").val())\n            } \n        })\n            .done(function(data) {\n                $(\"#card_created\").html(\"<br><p>Check \" + $(\"#check_name\").val() + \" created.</p>\").css(\"display\",\"block\");\n            });\n    });\n});",
      "output": "str",
      "x": 550,
      "y": 120,
      "wires": [
        [
          "b8e8723644876d3c"
        ]
      ]
    },
    {
      "id": "820ac735.cd08e8",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/checks",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 120,
      "y": 220,
      "wires": [
        [
          "5331d38e.df6ffc"
        ]
      ]
    },
    {
      "id": "17199a67.31efc6",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/check/:id",
      "method": "delete",
      "upload": false,
      "swaggerDoc": "",
      "x": 140,
      "y": 640,
      "wires": [
        [
          "9e339c5.d556b6"
        ]
      ]
    },
    {
      "id": "fb937675.df9478",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 540,
      "y": 680,
      "wires": []
    },
    {
      "id": "9cfb0dc3.c9927",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/issues",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 370,
      "y": 540,
      "wires": [
        [
          "fb0b89d6.ac01c8"
        ]
      ]
    },
    {
      "id": "fb0b89d6.ac01c8",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "issues",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card\">\n                    <div class=\"card-header bg-transparent \">\n                        <h3 class=\"card-title\">Issues ( <span id=\"issues_count\">0</span> )</h3>\n                    </div>\n                    <div class=\"table-responsive\">\n                        <table class=\"table card-table table-vcenter\">\n                            <thead>\n                                <tr>\n                                    <th colspan=2>Active</th>\n                                    <th>Name</th>\n                                    <th>Cron</th>\n                                    <th>Url</th>\n                                    <th>Status</th>\n                                    <th></th>\n                                </tr>\n                            </thead>\n\n                            <tbody id=\"listbody\">\n                            </tbody>\n                        </table>\n                    </div>\n                </div>\n            </div>\n        </div>",
      "output": "str",
      "x": 550,
      "y": 540,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "bbffcff2.f1585",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/settingsEdit",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 380,
      "y": 600,
      "wires": [
        [
          "c2e72904.63b7b8"
        ]
      ]
    },
    {
      "id": "c2e72904.63b7b8",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "settings",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"card text-white bg-success\" id=\"card_updated\" style=\"display:none;\">\n                <div class=\"card-body\">\n                    Check updated.\n                </div>\n                </div>\n                <br>\n                <div class=\"row\">\n                    <div class=\"col-md-8\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Editing Settings</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"form-inputs\">\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Mailer Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Mailer  Headers</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_header\" />\n                                        </div>\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Mailer Recipient</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_yoctu_recipient\" />\n                                        </div>\n                                    </div>\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Webhook Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Webhook Headers</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_header\" />\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Webhook Method</label>\n                                            <select class=\"form-control\" id=\"config_webhook_method\">\n                                                <option>POST</option>\n                                                <option>GET</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                        <div class=\"form-group check_cron\">\n                                            <label class=\"form-control-label\" for=\"config_webhook_payload\">Webhook Payload</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_webhook_payload\" />\n                                        </div>\n                                    </div>\n                                    <div class=\"form-group form-group-valid\">\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Elastic Url</label>\n                                            <input class=\"form-control\" type=\"text\" id=\"config_elastic_url\" />\n                                        </div>\n                                        <div class=\"form-group check_cron form-group-valid\">\n                                            <label class=\"form-control-label\" for=\"config_elastic_url\">Elastic Method</label>\n                                            <select class=\"form-control\" id=\"config_elastic_method\">\n                                                <option>POST</option>\n                                                <option>GET</option>\n                                                <option>PUT</option>\n                                                <option>PATCH</option>\n                                            </select>\n                                        </div>\n                                    </div>\n                                    <button class=\"btn btn btn-info\" id=\"config_update\"> Update</button>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>",
      "output": "str",
      "x": 560,
      "y": 600,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "35c54e9a.856452",
      "type": "http in",
      "z": "f580d428.4e4768",
      "name": "",
      "url": "/api/config",
      "method": "put",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 180,
      "wires": [
        [
          "edccc95c.2e5fd8"
        ]
      ]
    },
    {
      "id": "ab532798.928e88",
      "type": "function",
      "z": "f580d428.4e4768",
      "name": "update2db",
      "func": "for (let j in msg.req.body) {\n    msg.payload[j] = msg.req.body[j];\n}\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 550,
      "y": 180,
      "wires": [
        [
          "986c7912.d8c0a8",
          "ebdf9072.585b4"
        ]
      ]
    },
    {
      "id": "cc8458f8.2b3de8",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/home",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 360,
      "y": 180,
      "wires": [
        [
          "f4996a01.b3ce68"
        ]
      ]
    },
    {
      "id": "aa5cab65.af2ef8",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/checkbyname/:name",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 100,
      "wires": [
        [
          "d1be3e43.1429a"
        ]
      ]
    },
    {
      "id": "94c90b57.e6a158",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 1190,
      "y": 720,
      "wires": []
    },
    {
      "id": "121ef9d3.fe1156",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/issues",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 120,
      "y": 740,
      "wires": [
        [
          "c1e681ec.a1346"
        ]
      ]
    },
    {
      "id": "babdd40e.273868",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/checknow/:id",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 140,
      "y": 840,
      "wires": [
        [
          "17b700a2.740cef"
        ]
      ]
    },
    {
      "id": "3a9bcf6c.d53e6",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nempty"
        },
        {
          "t": "empty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 550,
      "y": 840,
      "wires": [
        [
          "99fda5f1.7a3028",
          "cdf9f9e.8f4f908"
        ],
        [
          "5bec4cdf.d9ff84"
        ]
      ]
    },
    {
      "id": "5bec4cdf.d9ff84",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "404",
      "headers": {},
      "x": 740,
      "y": 920,
      "wires": []
    },
    {
      "id": "99fda5f1.7a3028",
      "type": "link out",
      "z": "c5f66470.31a8f8",
      "name": "",
      "links": [
        "a2af375e.fa5b18",
        "bb34875d.cdd838"
      ],
      "x": 715,
      "y": 800,
      "wires": []
    },
    {
      "id": "cdf9f9e.8f4f908",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 740,
      "y": 860,
      "wires": []
    },
    {
      "id": "9ae97270.780ff",
      "type": "change",
      "z": "24572482.d3f29c",
      "name": "",
      "rules": [
        {
          "t": "delete",
          "p": "payload",
          "pt": "msg"
        },
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "{ \"Location\": \"/home\" }",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 550,
      "y": 60,
      "wires": [
        [
          "e3d50973.38e538"
        ]
      ]
    },
    {
      "id": "e3d50973.38e538",
      "type": "http response",
      "z": "24572482.d3f29c",
      "name": "",
      "statusCode": "303",
      "headers": {},
      "x": 780,
      "y": 60,
      "wires": []
    },
    {
      "id": "4c5a2e6b.80796",
      "type": "inject",
      "z": "7d84742.08f238c",
      "name": "init db",
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": "0.5",
      "topic": "",
      "payloadType": "str",
      "x": 590,
      "y": 120,
      "wires": [
        [
          "e1190864.79b3e8"
        ]
      ]
    },
    {
      "id": "51a00951.563b38",
      "type": "http in",
      "z": "7d84742.08f238c",
      "name": "",
      "url": "/init",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 200,
      "wires": [
        [
          "f8f0c41c.700548"
        ]
      ]
    },
    {
      "id": "f5e6b40a.5c4f58",
      "type": "http in",
      "z": "7d84742.08f238c",
      "name": "",
      "url": "/init",
      "method": "delete",
      "upload": false,
      "swaggerDoc": "",
      "x": 170,
      "y": 260,
      "wires": [
        [
          "f8f0c41c.700548"
        ]
      ]
    },
    {
      "id": "b55f2998.e99538",
      "type": "comment",
      "z": "7d84742.08f238c",
      "name": "Init Setup",
      "info": "",
      "x": 160,
      "y": 140,
      "wires": []
    },
    {
      "id": "b009af57.b5d67",
      "type": "inject",
      "z": "7d84742.08f238c",
      "name": "init filters",
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "{\"categories\":[\"Yoctu\"]}",
      "payloadType": "json",
      "x": 600,
      "y": 340,
      "wires": [
        [
          "61f684c7.195c7c"
        ]
      ]
    },
    {
      "id": "b2c28358.abee7",
      "type": "file",
      "z": "7d84742.08f238c",
      "name": "",
      "filename": "filters.json",
      "appendNewline": true,
      "createDir": true,
      "overwriteFile": "true",
      "encoding": "none",
      "x": 800,
      "y": 380,
      "wires": [
        []
      ]
    },
    {
      "id": "61f684c7.195c7c",
      "type": "change",
      "z": "7d84742.08f238c",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "filters",
          "pt": "global",
          "to": "[]",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 600,
      "y": 380,
      "wires": [
        [
          "b2c28358.abee7"
        ]
      ]
    },
    {
      "id": "e1190864.79b3e8",
      "type": "change",
      "z": "7d84742.08f238c",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "database",
          "pt": "global",
          "to": "{}",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 610,
      "y": 180,
      "wires": [
        [
          "1999a0ed.45a77f"
        ]
      ]
    },
    {
      "id": "d73c6614.cef6f8",
      "type": "inject",
      "z": "a81d4931.2fa598",
      "name": "Cron",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "60",
      "crontab": "",
      "once": true,
      "onceDelay": "5",
      "topic": "",
      "payload": "database",
      "payloadType": "global",
      "x": 110,
      "y": 40,
      "wires": [
        [
          "4dbff54e.9e3f6c",
          "b617dff9973cf54e"
        ]
      ]
    },
    {
      "id": "4dbff54e.9e3f6c",
      "type": "split",
      "z": "a81d4931.2fa598",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 250,
      "y": 100,
      "wires": [
        [
          "0cc213a30e82b07b"
        ]
      ]
    },
    {
      "id": "d65af652.531688",
      "type": "http request",
      "z": "a81d4931.2fa598",
      "name": "",
      "method": "use",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 110,
      "y": 180,
      "wires": [
        [
          "ae0a1a23.c218d8"
        ]
      ]
    },
    {
      "id": "f3588807.c51e58",
      "type": "http request",
      "z": "a81d4931.2fa598",
      "name": "",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 1030,
      "y": 240,
      "wires": [
        []
      ]
    },
    {
      "id": "f829cb30.3bf338",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "delete",
          "p": "headers",
          "pt": "msg"
        },
        {
          "t": "delete",
          "p": "url",
          "pt": "msg"
        },
        {
          "t": "delete",
          "p": "payload.url",
          "pt": "msg"
        },
        {
          "t": "delete",
          "p": "name",
          "pt": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 920,
      "y": 180,
      "wires": [
        [
          "6da626f1.13c108"
        ]
      ]
    },
    {
      "id": "cb7805a9.c19578",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "elastic",
      "property": "config.elastic.url",
      "propertyType": "global",
      "rules": [
        {
          "t": "nempty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 470,
      "y": 240,
      "wires": [
        [
          "49aea9b0.8fcc98"
        ]
      ]
    },
    {
      "id": "cea56161.ce95b",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "url",
          "pt": "msg",
          "to": "config.elastic.url",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "method",
          "pt": "msg",
          "to": "config.elastic.method",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "notificationData",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 800,
      "y": 240,
      "wires": [
        [
          "f3588807.c51e58"
        ]
      ]
    },
    {
      "id": "cdfd2c3b.2fe52",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "webhook",
      "property": "config.webhook.url",
      "propertyType": "global",
      "rules": [
        {
          "t": "nempty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 480,
      "y": 340,
      "wires": [
        [
          "f4684571.889f28"
        ]
      ]
    },
    {
      "id": "a0883b4.9c1c3c8",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "url",
          "pt": "msg",
          "to": "config.webhook.url",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "method",
          "pt": "msg",
          "to": "config.webhook.method",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "config.webhook.payload",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "config.webhook.header",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 880,
      "y": 340,
      "wires": [
        [
          "46de6303.10807c"
        ]
      ]
    },
    {
      "id": "46de6303.10807c",
      "type": "http request",
      "z": "a81d4931.2fa598",
      "name": "",
      "method": "use",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 1070,
      "y": 340,
      "wires": [
        []
      ]
    },
    {
      "id": "f4684571.889f28",
      "type": "json",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "config.webhook.header",
      "action": "obj",
      "pretty": false,
      "x": 610,
      "y": 340,
      "wires": [
        [
          "aa461e32.367c2"
        ]
      ]
    },
    {
      "id": "aa461e32.367c2",
      "type": "json",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "config.webhook.payload",
      "action": "obj",
      "pretty": false,
      "x": 730,
      "y": 340,
      "wires": [
        [
          "a0883b4.9c1c3c8"
        ]
      ]
    },
    {
      "id": "6a3f0a68.b8bd14",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "mail",
      "property": "config.yoctu.url",
      "propertyType": "global",
      "rules": [
        {
          "t": "nempty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 470,
      "y": 440,
      "wires": [
        [
          "a36c0abd.7a6548"
        ]
      ]
    },
    {
      "id": "3f0515ff.b9bdea",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "url",
          "pt": "msg",
          "to": "config.yoctu.url",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "method",
          "pt": "msg",
          "to": "POST",
          "tot": "str"
        },
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "config.yoctu.header",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 600,
      "y": 500,
      "wires": [
        [
          "c2e7892f.f890c8"
        ]
      ]
    },
    {
      "id": "c2e7892f.f890c8",
      "type": "http request",
      "z": "a81d4931.2fa598",
      "name": "",
      "method": "use",
      "ret": "obj",
      "paytoqs": "ignore",
      "url": "",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "",
      "x": 830,
      "y": 500,
      "wires": [
        []
      ]
    },
    {
      "id": "a36c0abd.7a6548",
      "type": "json",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "config.yoctu.header",
      "action": "obj",
      "pretty": false,
      "x": 610,
      "y": 440,
      "wires": [
        [
          "871c554c.8d1878"
        ]
      ]
    },
    {
      "id": "c21cf947.6c7778",
      "type": "function",
      "z": "a81d4931.2fa598",
      "name": "Set Payload",
      "func": "const quote = function (string) {\n    const escapeChars = [\n        '\\u0000-\\u001f',\n        '\\u002b',\n        '\\u0026',\n        '\\u007f-\\u009f',\n        '\\u00ad',\n        '\\u0600-\\u0604',\n        '\\u070f',\n        '\\u17b4',\n        '\\u17b5',\n        '\\u200c-\\u200f',\n        '\\u2028-\\u202f',\n        '\\u2060-\\u206f',\n        '\\ufeff',\n        '\\ufff0-\\uffff'\n    ].join('');\n    \n    const escapable = new RegExp('[\\\\\"' + escapeChars + ']', 'g');\n    \n    return escapable.test(string) ? string.replace(escapable, function (a) {\n        return typeof c === 'string' ? c : '\\\\u' + ('0000' + a.charCodeAt(0).toString(16)).slice(-4);\n    }) : string;\n};\n\nmsg.mailpayload = {};\n\nif (!msg.notificationData.healthy) {\n    msg.mailpayload.subject = 'Service down ' + msg.notificationData.name;\n} else {\n    msg.mailpayload.subject = 'Service up ' + msg.notificationData.name;\n}\nmsg.mailpayload.html_body = quote(msg.template);\n\nmsg.mailpayload.sender = {\n    \"no-reply@flash-global.net\": \"no-reply@flash-global.net\"\n};\nconst recipient =  global.config.yoctu.recipient;\nmsg.mailpayload.recipients = {}\nmsg.mailpayload.recipients[recipient] = recipient; \n\nmsg.payload = 'mail=' + JSON.stringify(msg.mailpayload).replace(/\\\\\\\\u/gm, `\\\\u`);\n\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "x": 930,
      "y": 440,
      "wires": [
        [
          "3f0515ff.b9bdea"
        ]
      ]
    },
    {
      "id": "49aea9b0.8fcc98",
      "type": "json",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 630,
      "y": 240,
      "wires": [
        [
          "cea56161.ce95b"
        ]
      ]
    },
    {
      "id": "bb34875d.cdd838",
      "type": "link in",
      "z": "a81d4931.2fa598",
      "name": "checknow",
      "links": [
        "99fda5f1.7a3028",
        "9691949f.0bc798",
        "99bdce49.d16eb",
        "6f46da3b.961f94"
      ],
      "x": 1055,
      "y": 40,
      "wires": [
        [
          "7062692b.e654e8"
        ]
      ]
    },
    {
      "id": "9a22d8d1.d6fba8",
      "type": "inject",
      "z": "a81d4931.2fa598",
      "name": "Notification",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "database",
      "payloadType": "global",
      "x": 200,
      "y": 480,
      "wires": [
        [
          "a2d6013029c31f2a"
        ]
      ]
    },
    {
      "id": "871c554c.8d1878",
      "type": "template",
      "z": "a81d4931.2fa598",
      "name": "",
      "field": "template",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<!DOCTYPE html>\n<html>\n<head>\n</head>\n<body>\n  Url : {{ notificationData.url }}\n  </br>\n  <pre>{{ notificationData.response }}</pre>\n</body>\n</html>",
      "output": "str",
      "x": 760,
      "y": 440,
      "wires": [
        [
          "c21cf947.6c7778"
        ]
      ]
    },
    {
      "id": "9691949f.0bc798",
      "type": "link out",
      "z": "c5f66470.31a8f8",
      "name": "",
      "links": [
        "bb34875d.cdd838"
      ],
      "x": 1215,
      "y": 400,
      "wires": []
    },
    {
      "id": "84a5a7f6.6d79b8",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "payload.force",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "1",
          "vt": "num"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 1110,
      "y": 400,
      "wires": [
        [
          "9691949f.0bc798"
        ]
      ]
    },
    {
      "id": "cf1435ee.a41268",
      "type": "change",
      "z": "6bf330d9.f27a3",
      "name": "db path",
      "rules": [
        {
          "t": "set",
          "p": "filename",
          "pt": "msg",
          "to": "$env('CONFIG_PATH') & \"config.json\"",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 300,
      "y": 180,
      "wires": [
        [
          "e664c3b0.fce4e"
        ]
      ]
    },
    {
      "id": "e664c3b0.fce4e",
      "type": "file",
      "z": "6bf330d9.f27a3",
      "name": "",
      "filename": "",
      "appendNewline": false,
      "createDir": false,
      "overwriteFile": "true",
      "encoding": "none",
      "x": 470,
      "y": 180,
      "wires": [
        [
          "d085acd7.43292"
        ]
      ]
    },
    {
      "id": "14a6467c.b1192a",
      "type": "change",
      "z": "2c4dd4ee.225fac",
      "name": "db path",
      "rules": [
        {
          "t": "set",
          "p": "filename",
          "pt": "msg",
          "to": "$env('DB_PATH') & \"database.json\"",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 300,
      "y": 160,
      "wires": [
        [
          "6bf66a8c.abad34"
        ]
      ]
    },
    {
      "id": "6bf66a8c.abad34",
      "type": "file",
      "z": "2c4dd4ee.225fac",
      "name": "",
      "filename": "",
      "appendNewline": true,
      "createDir": false,
      "overwriteFile": "true",
      "encoding": "none",
      "x": 530,
      "y": 160,
      "wires": [
        []
      ]
    },
    {
      "id": "1999a0ed.45a77f",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "7d84742.08f238c",
      "name": "",
      "x": 790,
      "y": 180,
      "wires": []
    },
    {
      "id": "f8f0c41c.700548",
      "type": "template",
      "z": "7d84742.08f238c",
      "name": "",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{{payload}}",
      "output": "str",
      "x": 340,
      "y": 220,
      "wires": [
        [
          "e1190864.79b3e8",
          "61f684c7.195c7c",
          "288a9c11.d85044"
        ]
      ]
    },
    {
      "id": "c696ef09.f989e",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "c5f66470.31a8f8",
      "name": "",
      "x": 730,
      "y": 600,
      "wires": []
    },
    {
      "id": "97dda1bf.34045",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "c5f66470.31a8f8",
      "name": "",
      "x": 550,
      "y": 640,
      "wires": []
    },
    {
      "id": "ebdf9072.585b4",
      "type": "subflow:6bf330d9.f27a3",
      "z": "f580d428.4e4768",
      "name": "",
      "x": 740,
      "y": 280,
      "wires": []
    },
    {
      "id": "7062692b.e654e8",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "check",
          "pt": "msg",
          "to": "payload",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "url",
          "pt": "msg",
          "to": "payload.url",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "name",
          "pt": "msg",
          "to": "payload.name",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "method",
          "pt": "msg",
          "to": "payload.method",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "payload.header",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1200,
      "y": 100,
      "wires": [
        [
          "d65af652.531688",
          "a5f08071c78ccc1d"
        ]
      ]
    },
    {
      "id": "ae0a1a23.c218d8",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "notificationData",
          "pt": "msg",
          "to": "{}",
          "tot": "json"
        },
        {
          "t": "set",
          "p": "notificationData[\"statusCodeExpected\"]",
          "pt": "msg",
          "to": "check.status",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData[\"healthy\"]",
          "pt": "msg",
          "to": "true",
          "tot": "bool"
        },
        {
          "t": "set",
          "p": "check.date",
          "pt": "msg",
          "to": "$now()",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 300,
      "y": 180,
      "wires": [
        [
          "98277802.c5dce8"
        ]
      ]
    },
    {
      "id": "98277802.c5dce8",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "check.statusCode",
          "pt": "msg",
          "to": "statusCode",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "database[msg.check.id]",
          "pt": "global",
          "to": "check",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData[\"statusCode\"]",
          "pt": "msg",
          "to": "statusCode",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData[\"url\"]",
          "pt": "msg",
          "to": "url",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData[\"response\"]",
          "pt": "msg",
          "to": "payload",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData['name']",
          "pt": "msg",
          "to": "name",
          "tot": "msg"
        },
        {
          "t": "set",
          "p": "notificationData['healthy']",
          "pt": "msg",
          "to": "(($number(msg.check.status) != $number(msg.statusCode)) and ($number(msg.statusCode) != $number(msg.check.statusCode)) and ($number(msg.check.statusCode) != 600)) ? false : true\t",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 520,
      "y": 180,
      "wires": [
        [
          "aaad4ad9.44dc78"
        ]
      ]
    },
    {
      "id": "6da626f1.13c108",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "check",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 240,
      "y": 240,
      "wires": [
        [
          "cb7805a9.c19578",
          "cdfd2c3b.2fe52",
          "6a3f0a68.b8bd14",
          "17c5f5d216e96c0e"
        ]
      ]
    },
    {
      "id": "8968d2a3.26f41",
      "type": "change",
      "z": "f580d428.4e4768",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "config",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 400,
      "y": 80,
      "wires": [
        [
          "f6c1a8f0.b61ee8"
        ]
      ]
    },
    {
      "id": "d085acd7.43292",
      "type": "change",
      "z": "6bf330d9.f27a3",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "config",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 660,
      "y": 180,
      "wires": [
        []
      ]
    },
    {
      "id": "a3223d5c.5b20f",
      "type": "inject",
      "z": "7d84742.08f238c",
      "name": "init config",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payloadType": "str",
      "x": 560,
      "y": 260,
      "wires": [
        [
          "288a9c11.d85044"
        ]
      ]
    },
    {
      "id": "d656fee3.16db7",
      "type": "change",
      "z": "f580d428.4e4768",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{\"tz\":\"UTC\",\"smtp\":{},\"webhooks\":[],\"prometheus\":{},\"elastic\":{\"url\":\"\",\"method\":\"\"},\"yoctu\":{\"url\":\"\",\"header\":\"\",\"recipient\":\"\"},\"webhook\":{\"url\":\"\",\"header\":\"\",\"method\":\"POST\",\"payload\":\"\"},\"ws\":{\"url\":\"/ws\"}}",
          "tot": "json"
        },
        {
          "t": "set",
          "p": "config",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 420,
      "y": 360,
      "wires": [
        [
          "ebdf9072.585b4",
          "52816ca7.863464"
        ]
      ]
    },
    {
      "id": "a140920f.f162e",
      "type": "http in",
      "z": "f580d428.4e4768",
      "name": "",
      "url": "/api/config",
      "method": "delete",
      "upload": false,
      "swaggerDoc": "",
      "x": 170,
      "y": 360,
      "wires": [
        [
          "d656fee3.16db7"
        ]
      ]
    },
    {
      "id": "df7e3669.4daa68",
      "type": "http response",
      "z": "f580d428.4e4768",
      "name": "",
      "statusCode": "201",
      "headers": {},
      "x": 820,
      "y": 360,
      "wires": []
    },
    {
      "id": "288a9c11.d85044",
      "type": "link out",
      "z": "7d84742.08f238c",
      "name": "",
      "links": [
        "526db305.6ad03c"
      ],
      "x": 715,
      "y": 220,
      "wires": []
    },
    {
      "id": "526db305.6ad03c",
      "type": "link in",
      "z": "f580d428.4e4768",
      "name": "",
      "links": [
        "288a9c11.d85044",
        "d513e7e1.84b568"
      ],
      "x": 215,
      "y": 400,
      "wires": [
        [
          "d656fee3.16db7"
        ]
      ]
    },
    {
      "id": "edccc95c.2e5fd8",
      "type": "change",
      "z": "f580d428.4e4768",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "config",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 360,
      "y": 180,
      "wires": [
        [
          "ab532798.928e88"
        ]
      ]
    },
    {
      "id": "2596d6c1.8d706a",
      "type": "inject",
      "z": "7d84742.08f238c",
      "name": "",
      "repeat": "",
      "crontab": "",
      "once": true,
      "onceDelay": "0.5",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "x": 170,
      "y": 380,
      "wires": [
        [
          "716266c1.499b98",
          "16cc9bed.5bfc94",
          "746f1dd257a1346f"
        ]
      ]
    },
    {
      "id": "716266c1.499b98",
      "type": "subflow:26a0ef59.a800f",
      "z": "7d84742.08f238c",
      "name": "",
      "x": 340,
      "y": 380,
      "wires": [
        []
      ]
    },
    {
      "id": "ac27d785.695c68",
      "type": "catch",
      "z": "7d84742.08f238c",
      "name": "missing config",
      "scope": [
        "716266c1.499b98"
      ],
      "uncaught": false,
      "x": 570,
      "y": 300,
      "wires": [
        [
          "288a9c11.d85044"
        ]
      ]
    },
    {
      "id": "52816ca7.863464",
      "type": "switch",
      "z": "f580d428.4e4768",
      "name": "",
      "property": "req",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nnull"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 650,
      "y": 360,
      "wires": [
        [
          "df7e3669.4daa68"
        ]
      ]
    },
    {
      "id": "16cc9bed.5bfc94",
      "type": "subflow:129e609e.f5085f",
      "z": "7d84742.08f238c",
      "name": "",
      "x": 340,
      "y": 440,
      "wires": []
    },
    {
      "id": "facdebb0.62e638",
      "type": "catch",
      "z": "7d84742.08f238c",
      "name": "",
      "scope": [
        "16cc9bed.5bfc94"
      ],
      "uncaught": false,
      "x": 410,
      "y": 140,
      "wires": [
        [
          "e1190864.79b3e8"
        ]
      ]
    },
    {
      "id": "912b6f5.36e499",
      "type": "change",
      "z": "129e609e.f5085f",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "database",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 670,
      "y": 260,
      "wires": [
        []
      ]
    },
    {
      "id": "d1be3e43.1429a",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 400,
      "y": 100,
      "wires": [
        [
          "6a5912e6b7756e99"
        ]
      ]
    },
    {
      "id": "716d8604.d37e98",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "set database",
      "rules": [
        {
          "t": "set",
          "p": "check",
          "pt": "msg",
          "to": "database[msg.req.params.id]",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "check.active",
          "pt": "msg",
          "to": "$exists(msg.payload.active) ? $number(msg.payload.active) : msg.check.active",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.force",
          "pt": "msg",
          "to": "$exists(msg.payload.force) ? $number(msg.payload.force) : msg.check.force",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.cron",
          "pt": "msg",
          "to": "$exists(msg.payload.cron) ?  $number(msg.payload.cron) : msg.check.cron ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.header",
          "pt": "msg",
          "to": "$exists(msg.payload.header) ?  $string(msg.payload.header) : msg.check.header ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.method",
          "pt": "msg",
          "to": "$exists(msg.payload.method) ?  $string(msg.payload.method) : msg.check.method ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.url",
          "pt": "msg",
          "to": "$exists(msg.payload.url) ?  $string(msg.payload.url) : msg.check.url ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.status",
          "pt": "msg",
          "to": "$exists(msg.payload.status) ?  $number(msg.payload.status) : msg.check.status ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "check.name",
          "pt": "msg",
          "to": "$exists(msg.payload.name) ?  $string(msg.payload.name) : msg.check.name ",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "database[msg.req.params.id]",
          "pt": "global",
          "to": "check",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 390,
      "y": 560,
      "wires": [
        [
          "c696ef09.f989e",
          "ca5f251b.4072b8"
        ]
      ]
    },
    {
      "id": "9e339c5.d556b6",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "delete check",
      "rules": [
        {
          "t": "delete",
          "p": "database[msg.req.params.id]",
          "pt": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 390,
      "y": 640,
      "wires": [
        [
          "97dda1bf.34045",
          "fb937675.df9478"
        ]
      ]
    },
    {
      "id": "c1e681ec.a1346",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "statusCode",
          "pt": "msg",
          "to": "200",
          "tot": "num"
        },
        {
          "t": "set",
          "p": "result",
          "pt": "msg",
          "to": "[]",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 740,
      "wires": [
        [
          "57eae17ba39e83d2"
        ]
      ]
    },
    {
      "id": "17b700a2.740cef",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database[msg.req.params.id]",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "payload.statusCode",
          "pt": "msg",
          "to": "600",
          "tot": "num"
        },
        {
          "t": "set",
          "p": "payload.date",
          "pt": "msg",
          "to": "$now()",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.force",
          "pt": "msg",
          "to": "1",
          "tot": "num"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 380,
      "y": 840,
      "wires": [
        [
          "3a9bcf6c.d53e6"
        ]
      ]
    },
    {
      "id": "15763a50.721ca6",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload.id",
          "pt": "msg",
          "to": "$millis()",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.created_at",
          "pt": "msg",
          "to": "$now()",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "database[msg.payload.id]",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 740,
      "y": 360,
      "wires": [
        [
          "14679b05.c929b5",
          "6202364c94c903e2",
          "84a5a7f6.6d79b8"
        ]
      ]
    },
    {
      "id": "8d65d30de9df0ba0",
      "type": "file",
      "z": "7d84742.08f238c",
      "name": "save settings.js",
      "filename": "/data/settings.js",
      "appendNewline": false,
      "createDir": false,
      "overwriteFile": "true",
      "encoding": "none",
      "x": 620,
      "y": 580,
      "wires": [
        []
      ]
    },
    {
      "id": "06c743ca60f3b01e",
      "type": "inject",
      "z": "7d84742.08f238c",
      "name": "inject settings.js",
      "props": [
        {
          "p": "NR_USERNAME",
          "v": "$env('NR_USERNAME') != \"\" ? $env('NR_USERNAME') : 'admin'",
          "vt": "jsonata"
        },
        {
          "p": "NR_PASSWORD",
          "v": "$env('NR_PASSWORD') != \"\" ? $env('NR_PASSWORD') : '$2a$08$T1Wbe1VrRixbx.ydAQhKlO1OZPiaw.I6bdBshUbuG2.9QFdknLSHe'",
          "vt": "jsonata"
        },
        {
          "p": "API_USERNAME",
          "v": "$env('API_USERNAME') != \"\" ? $env('API_USERNAME') : 'admin'",
          "vt": "jsonata"
        },
        {
          "p": "API_PASSWORD",
          "v": "$env('API_PASSWORD') != \"\" ? $env('API_PASSWORD') : '$2a$08$T1Wbe1VrRixbx.ydAQhKlO1OZPiaw.I6bdBshUbuG2.9QFdknLSHe'",
          "vt": "jsonata"
        },
        {
          "p": "payload"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "topic": "",
      "payload": "toto",
      "payloadType": "str",
      "x": 176.5,
      "y": 580,
      "wires": [
        [
          "60a3ca048d2514bc"
        ]
      ]
    },
    {
      "id": "60a3ca048d2514bc",
      "type": "template",
      "z": "7d84742.08f238c",
      "name": "settings.js",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "module.exports = {\n    uiPort: process.env.PORT || 1880,\n    mqttReconnectTime: 15000,\n    serialReconnectTime: 15000,\n    debugMaxLength: 1000,\n    functionGlobalContext: {\n    },\n    exportGlobalContextKeys: false,\n    logging: {\n        console: {\n            level: \"info\",\n            metrics: false,\n            audit: false\n        }\n    },\n    credentialSecret: \"yoctu-secret\",\n    httpNodeAuth: {\n        user: \"{{{API_USERNAME}}}\",\n        pass: \"{{{API_PASSWORD}}}\"\n    },\n    httpAdminRoot: '/nodered',\n    adminAuth: {\n        type: \"credentials\",\n        users: [{\n            username: \"{{{NR_USERNAME}}}\",\n            password: \"{{{NR_PASSWORD}}}\",\n            permissions: \"*\"\n        }]\n    },\n    editorTheme: {\n        projects: {\n            enabled: false\n        }\n    }\n}",
      "output": "str",
      "x": 400,
      "y": 580,
      "wires": [
        [
          "8d65d30de9df0ba0"
        ]
      ]
    },
    {
      "id": "e925b9eaad52956b",
      "type": "comment",
      "z": "7d84742.08f238c",
      "name": "Settings",
      "info": "Default admin/password login",
      "x": 140,
      "y": 520,
      "wires": []
    },
    {
      "id": "68598f0145c8a5c4",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database[msg.req.params.id]",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 640,
      "y": 220,
      "wires": [
        [
          "27707a55ceb10b34"
        ]
      ]
    },
    {
      "id": "6f3899ac4fa6aef0",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "error",
          "pt": "msg",
          "to": "{}",
          "tot": "json"
        },
        {
          "t": "set",
          "p": "error.status",
          "pt": "msg",
          "to": "1",
          "tot": "num"
        },
        {
          "t": "set",
          "p": "payload.active",
          "pt": "msg",
          "to": "$exists(msg.payload.active) ? $number(msg.payload.active) : 1",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.force",
          "pt": "msg",
          "to": "$exists(msg.payload.force) ? $number(msg.payload.force) : 0",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "error.status",
          "pt": "msg",
          "to": "$number($not(msg.payload.name and msg.payload.status and msg.payload.url))",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.statusCode",
          "pt": "msg",
          "to": "600",
          "tot": "num"
        },
        {
          "t": "set",
          "p": "payload.date",
          "pt": "msg",
          "to": "$now()",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.status",
          "pt": "msg",
          "to": "$number(msg.payload.status)",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.cron",
          "pt": "msg",
          "to": "$number(msg.payload.cron)",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 320,
      "y": 380,
      "wires": [
        [
          "6c7c1c96.f2bb94"
        ]
      ]
    },
    {
      "id": "27707a55ceb10b34",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "null"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 810,
      "y": 220,
      "wires": [
        [
          "5e9877cd5668615d"
        ],
        [
          "7288549657e25e55"
        ]
      ]
    },
    {
      "id": "5332e7dbc8b65386",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 1180,
      "y": 100,
      "wires": []
    },
    {
      "id": "5e9877cd5668615d",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "404",
      "headers": {},
      "x": 1180,
      "y": 220,
      "wires": []
    },
    {
      "id": "57eae17ba39e83d2",
      "type": "split",
      "z": "c5f66470.31a8f8",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 510,
      "y": 740,
      "wires": [
        [
          "d4d064e1832f45a8"
        ]
      ]
    },
    {
      "id": "4fa57d21cd97d2f7",
      "type": "join",
      "z": "c5f66470.31a8f8",
      "name": "",
      "mode": "auto",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": true,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "$number(msg.payload.statusCode) = $number(msg.payload.status) ? \"\" : msg.payload",
      "reduceInit": "[]",
      "reduceInitType": "json",
      "reduceFixup": "",
      "x": 1050,
      "y": 720,
      "wires": [
        [
          "94c90b57.e6a158"
        ]
      ]
    },
    {
      "id": "9384f0637a1a13d7",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "result",
          "pt": "msg",
          "to": "$append(msg.result, msg.payload)",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "statusCode",
          "pt": "msg",
          "to": "503",
          "tot": "num"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 860,
      "y": 760,
      "wires": [
        [
          "4fa57d21cd97d2f7"
        ]
      ]
    },
    {
      "id": "d4d064e1832f45a8",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "$number(payload.status)",
      "propertyType": "jsonata",
      "rules": [
        {
          "t": "eq",
          "v": "$number(payload.statusCode)",
          "vt": "jsonata"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 690,
      "y": 740,
      "wires": [
        [
          "4fa57d21cd97d2f7"
        ],
        [
          "9384f0637a1a13d7"
        ]
      ]
    },
    {
      "id": "c080c2754847094e",
      "type": "http response",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 1160,
      "y": 80,
      "wires": []
    },
    {
      "id": "4e23a2310e7f6baa",
      "type": "http in",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "url": "/api/export",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 160,
      "y": 80,
      "wires": [
        [
          "4693c7b6fecf19a9"
        ]
      ]
    },
    {
      "id": "955a27686806e2c4",
      "type": "http in",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "url": "/api/import",
      "method": "post",
      "upload": true,
      "swaggerDoc": "",
      "x": 160,
      "y": 160,
      "wires": [
        [
          "d7a902a75ceb4bd8"
        ]
      ]
    },
    {
      "id": "53dcbc6daf59cf0c",
      "type": "template",
      "z": "af8756fb19d0b3c0",
      "name": "html",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<html>\n    <head>\n        <meta http-equiv=\"refresh\" content=\"1;URL=/\">    \n    </head>\n    <body>\n        <p>File {{name}} uploaded !</p>\n    </body>\n</html>\n",
      "output": "str",
      "x": 590,
      "y": 200,
      "wires": [
        [
          "ce494edcc11eec73"
        ]
      ]
    },
    {
      "id": "d7a902a75ceb4bd8",
      "type": "function",
      "z": "af8756fb19d0b3c0",
      "name": "toBase64",
      "func": "msg.name = msg.req.files[0].originalname;\nmsg.payload = msg.req.files[0].buffer.toString();\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 360,
      "y": 160,
      "wires": [
        [
          "53dcbc6daf59cf0c",
          "d23ca4128ae33bd8"
        ]
      ]
    },
    {
      "id": "ce494edcc11eec73",
      "type": "http response",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "statusCode": "302",
      "headers": {},
      "x": 820,
      "y": 200,
      "wires": []
    },
    {
      "id": "4693c7b6fecf19a9",
      "type": "change",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database",
          "tot": "global"
        },
        {
          "t": "set",
          "p": "headers",
          "pt": "msg",
          "to": "[]",
          "tot": "json"
        },
        {
          "t": "set",
          "p": "headers['content-type']",
          "pt": "msg",
          "to": "application/json",
          "tot": "str"
        },
        {
          "t": "set",
          "p": "headers['Content-Disposition']",
          "pt": "msg",
          "to": "attachment; filename=export.json",
          "tot": "str"
        },
        {
          "t": "set",
          "p": "headers['Pragma']",
          "pt": "msg",
          "to": "no-cache",
          "tot": "str"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 360,
      "y": 80,
      "wires": [
        [
          "6d8818aa980c7e1f"
        ]
      ]
    },
    {
      "id": "c7ca2c45e0b8c436",
      "type": "websocket out",
      "z": "a81d4931.2fa598",
      "name": "",
      "server": "06afd692f88faa11",
      "client": "",
      "x": 840,
      "y": 560,
      "wires": []
    },
    {
      "id": "17c5f5d216e96c0e",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "ws",
      "property": "config.ws.url",
      "propertyType": "global",
      "rules": [
        {
          "t": "nempty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 470,
      "y": 560,
      "wires": [
        [
          "b10dcb9de3de9c68"
        ]
      ]
    },
    {
      "id": "aaad4ad9.44dc78",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "notificationData['healthy']",
      "propertyType": "msg",
      "rules": [
        {
          "t": "false"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 730,
      "y": 180,
      "wires": [
        [
          "f829cb30.3bf338"
        ]
      ]
    },
    {
      "id": "ea5d3c1b172f0212",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "footer",
      "field": "payload",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "{{{header}}}\n{{{body}}}\n  </div>\n  <footer class=\"footer mt-auto py-3 small text-muted text-center\">\n        <a href=\"https://yoctu.com\" target=\"_blank\">yoctu</a>({{global.version}})\n  </footer>\n</body>\n\n</html>",
      "output": "str",
      "x": 970,
      "y": 360,
      "wires": [
        [
          "3ff70c3d.b03a84"
        ]
      ]
    },
    {
      "id": "c4482de57443f263",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "header",
      "field": "header",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "<!DOCTYPE html>\n<html>\n<head>\n  <title>PingJs</title>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\" />\n  <meta name=\"csrf-param\" content=\"authenticity_token\" />\n  <meta name=\"csrf-token\" content=\"Q1C1FVntCZeM08fz5YxGr7mbCgA/3DVU9t58CIahmcGvxcZyYeW3vH9WhejSOxsZmI+FV98hU5f992q1zRUgBg==\" />\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC\" crossorigin=\"anonymous\">\n  <script src=\"https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js\" integrity=\"sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM\" crossorigin=\"anonymous\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js\" integrity=\"sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==\" crossorigin=\"anonymous\" referrerpolicy=\"no-referrer\"></script>  <script src=\"/js/ping.js\"></script>\n</head>\n<body class=\"d-flex flex-column h-100\">\n  <div class=\"container mt-2\">\n    <div class=\"row\">\n      <div class=\"col-12\" style=\"display: inline-block;\">\n        <p>\n          <a class=\"btn btn-outline-primary\" href=\"/home\" id=\"btn-home\"> Home</a>\n          <a class=\"btn btn-outline-info\" href=\"/checks\" id=\"btn-list\"> List</a>\n          <a class=\"btn btn-outline-success\" href=\"/new\" id=\"btn-add\"> Add</a>\n          <a class=\"btn btn-outline-warning\" href=\"/notif\" id=\"btn-notif\"> Notif</a>\n          <a class=\"btn btn-icon btn-outline-secondary\" href=\"/admin\" id=\"btn-admin\"> Settings</a>\n        <span style=\"float:right;font-size: smaller;\"><span id=\"home_timer\">60</span>s<br><span id=\"home_status\"></span></span>\n        </p>\n      </div>\n    </div>",
      "output": "str",
      "x": 840,
      "y": 360,
      "wires": [
        [
          "ea5d3c1b172f0212"
        ]
      ]
    },
    {
      "id": "b8e8723644876d3c",
      "type": "http response",
      "z": "24572482.d3f29c",
      "name": "",
      "statusCode": "",
      "headers": {},
      "x": 710,
      "y": 120,
      "wires": []
    },
    {
      "id": "6638081c6fcee417",
      "type": "split",
      "z": "129e609e.f5085f",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 300,
      "y": 260,
      "wires": [
        [
          "b29ee1694c225142"
        ]
      ]
    },
    {
      "id": "b29ee1694c225142",
      "type": "join",
      "z": "129e609e.f5085f",
      "name": "",
      "mode": "custom",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "payload.id",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": true,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 470,
      "y": 260,
      "wires": [
        [
          "912b6f5.36e499"
        ]
      ]
    },
    {
      "id": "6202364c94c903e2",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "c5f66470.31a8f8",
      "name": "",
      "x": 1000,
      "y": 460,
      "wires": []
    },
    {
      "id": "0e63ab8d0bf001f6",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "database",
          "tot": "global"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 540,
      "y": 320,
      "wires": [
        [
          "1d159b8fbe890598"
        ]
      ]
    },
    {
      "id": "a782e36d86958cc6",
      "type": "split",
      "z": "c5f66470.31a8f8",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 870,
      "y": 320,
      "wires": [
        [
          "2e554984239a5419"
        ]
      ]
    },
    {
      "id": "2e554984239a5419",
      "type": "join",
      "z": "c5f66470.31a8f8",
      "name": "",
      "mode": "custom",
      "build": "array",
      "property": "payload",
      "propertyType": "msg",
      "key": "payload.id",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 1010,
      "y": 320,
      "wires": [
        [
          "b29a781.a9b5588"
        ]
      ]
    },
    {
      "id": "0cc213a30e82b07b",
      "type": "join",
      "z": "a81d4931.2fa598",
      "name": "",
      "mode": "custom",
      "build": "array",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 390,
      "y": 100,
      "wires": [
        [
          "d50dcd4df4f399c0"
        ]
      ]
    },
    {
      "id": "d50dcd4df4f399c0",
      "type": "split",
      "z": "a81d4931.2fa598",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 530,
      "y": 100,
      "wires": [
        [
          "fce17ad171a7a16c"
        ]
      ]
    },
    {
      "id": "e1e52808db17cf34",
      "type": "inject",
      "z": "a81d4931.2fa598",
      "name": "Manual",
      "props": [
        {
          "p": "payload"
        },
        {
          "p": "auto",
          "v": "true",
          "vt": "bool"
        }
      ],
      "repeat": "",
      "crontab": "",
      "once": false,
      "onceDelay": "5",
      "topic": "",
      "payload": "database",
      "payloadType": "global",
      "x": 110,
      "y": 100,
      "wires": [
        [
          "4dbff54e.9e3f6c"
        ]
      ]
    },
    {
      "id": "db96a7d37c598f8a",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "auto",
      "propertyType": "msg",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 850,
      "y": 40,
      "wires": [
        [
          "7062692b.e654e8"
        ],
        [
          "3eb39c1065cb1971"
        ]
      ]
    },
    {
      "id": "746f1dd257a1346f",
      "type": "change",
      "z": "7d84742.08f238c",
      "name": "version",
      "rules": [
        {
          "t": "set",
          "p": "version",
          "pt": "global",
          "to": "1.1.0",
          "tot": "str"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 340,
      "y": 320,
      "wires": [
        []
      ]
    },
    {
      "id": "1d159b8fbe890598",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "empty"
        },
        {
          "t": "nempty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 690,
      "y": 320,
      "wires": [
        [
          "7288549657e25e55"
        ],
        [
          "a782e36d86958cc6"
        ]
      ]
    },
    {
      "id": "7288549657e25e55",
      "type": "http response",
      "z": "c5f66470.31a8f8",
      "name": "",
      "statusCode": "200",
      "headers": {},
      "x": 1040,
      "y": 260,
      "wires": []
    },
    {
      "id": "054d5ed4494acfd4",
      "type": "inject",
      "z": "a81d4931.2fa598",
      "name": "Save",
      "props": [
        {
          "p": "payload"
        }
      ],
      "repeat": "60",
      "crontab": "",
      "once": false,
      "onceDelay": "5",
      "topic": "",
      "payload": "{ \"action\": \"save\" }",
      "payloadType": "json",
      "x": 630,
      "y": 640,
      "wires": [
        [
          "4ef003c41b562187",
          "c7ca2c45e0b8c436"
        ]
      ]
    },
    {
      "id": "4ef003c41b562187",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "a81d4931.2fa598",
      "name": "",
      "x": 830,
      "y": 640,
      "wires": []
    },
    {
      "id": "a2d6013029c31f2a",
      "type": "split",
      "z": "a81d4931.2fa598",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 210,
      "y": 420,
      "wires": [
        [
          "f34d490056051c13"
        ]
      ]
    },
    {
      "id": "f34d490056051c13",
      "type": "join",
      "z": "a81d4931.2fa598",
      "name": "",
      "mode": "custom",
      "build": "array",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 210,
      "y": 360,
      "wires": [
        [
          "be2d34c9f5a7980e"
        ]
      ]
    },
    {
      "id": "be2d34c9f5a7980e",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "check",
          "pt": "msg",
          "to": "payload[0]",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 230,
      "y": 300,
      "wires": [
        [
          "6da626f1.13c108"
        ]
      ]
    },
    {
      "id": "6a5912e6b7756e99",
      "type": "split",
      "z": "c5f66470.31a8f8",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 590,
      "y": 100,
      "wires": [
        [
          "355e50bf62edda98"
        ]
      ]
    },
    {
      "id": "355e50bf62edda98",
      "type": "switch",
      "z": "c5f66470.31a8f8",
      "name": "",
      "property": "payload.name",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "req.params.name",
          "vt": "msg"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 770,
      "y": 100,
      "wires": [
        [
          "c3383a48c55e7f9b"
        ],
        [
          "228ad7901ef845b6"
        ]
      ]
    },
    {
      "id": "c3383a48c55e7f9b",
      "type": "join",
      "z": "c5f66470.31a8f8",
      "name": "",
      "mode": "auto",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": "false",
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "x": 960,
      "y": 100,
      "wires": [
        [
          "5332e7dbc8b65386"
        ]
      ]
    },
    {
      "id": "228ad7901ef845b6",
      "type": "join",
      "z": "c5f66470.31a8f8",
      "name": "",
      "mode": "auto",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": "false",
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "x": 770,
      "y": 160,
      "wires": [
        [
          "86eeb79c6befb5d6"
        ]
      ]
    },
    {
      "id": "86eeb79c6befb5d6",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{}",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 920,
      "y": 160,
      "wires": [
        [
          "5e9877cd5668615d"
        ]
      ]
    },
    {
      "id": "730d28a038635654",
      "type": "split",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 710,
      "y": 40,
      "wires": [
        [
          "29b74f3c5372ccf3"
        ]
      ]
    },
    {
      "id": "0d273d43ba2ab051",
      "type": "join",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "mode": "custom",
      "build": "array",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 1070,
      "y": 40,
      "wires": [
        [
          "c080c2754847094e"
        ]
      ]
    },
    {
      "id": "6d8818aa980c7e1f",
      "type": "switch",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "property": "payload",
      "propertyType": "msg",
      "rules": [
        {
          "t": "nempty"
        },
        {
          "t": "empty"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 560,
      "y": 80,
      "wires": [
        [
          "730d28a038635654"
        ],
        [
          "5d4bba4128323ca6"
        ]
      ]
    },
    {
      "id": "5d4bba4128323ca6",
      "type": "change",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "[]",
          "tot": "json"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 770,
      "y": 80,
      "wires": [
        [
          "c080c2754847094e"
        ]
      ]
    },
    {
      "id": "ed2684065b2f8e9b",
      "type": "subflow:2c4dd4ee.225fac",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "x": 1230,
      "y": 140,
      "wires": []
    },
    {
      "id": "82030af8021e1a7b",
      "type": "split",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 730,
      "y": 140,
      "wires": [
        [
          "f3ac0c86851d139f"
        ]
      ]
    },
    {
      "id": "f3ac0c86851d139f",
      "type": "join",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "mode": "custom",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "payload.id",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 870,
      "y": 140,
      "wires": [
        [
          "cffbcc29c626138d"
        ]
      ]
    },
    {
      "id": "d23ca4128ae33bd8",
      "type": "json",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "property": "payload",
      "action": "obj",
      "pretty": false,
      "x": 570,
      "y": 140,
      "wires": [
        [
          "82030af8021e1a7b"
        ]
      ]
    },
    {
      "id": "cffbcc29c626138d",
      "type": "change",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "database",
          "pt": "global",
          "to": "payload",
          "tot": "msg"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1050,
      "y": 140,
      "wires": [
        [
          "ed2684065b2f8e9b"
        ]
      ]
    },
    {
      "id": "29b74f3c5372ccf3",
      "type": "change",
      "z": "af8756fb19d0b3c0",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload.force",
          "pt": "msg",
          "to": "0",
          "tot": "num"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 900,
      "y": 40,
      "wires": [
        [
          "0d273d43ba2ab051"
        ]
      ]
    },
    {
      "id": "1cebe99bb583d4de",
      "type": "template",
      "z": "24572482.d3f29c",
      "name": "notif",
      "field": "body",
      "fieldType": "msg",
      "format": "handlebars",
      "syntax": "mustache",
      "template": "        <div class=\"row\">\n            <div class=\"col-12\">\n                <div class=\"row\">\n                    <div class=\"col-md-12\">\n                        <div class=\"card\">\n                            <div class=\"card-header bg-transparent\">\n                                <h3 class=\"card-title\">Notifications</h3>\n                            </div>\n                            <div class=\"card-body\">\n                                <div class=\"table-responsive\">\n                                    <table class=\"table card-table table-vcenter\">\n                                        <thead>\n                                            <tr>\n                                                <th>Action</th>\n                                                <th>Message</th>\n                                                <th>Date</th>\n                                            </tr>\n                                        </thead>\n            \n                                        <tbody id=\"listbody\">\n                                        </tbody>\n                                    </table>\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n                </div><br>\n            </div>\n        </div>\n<script>\n    const ws = new WebSocket('ws://' + window.location.host + '/ws')\n    ws.onmessage = function (event) {\n        if ('data' in event) {\n            const message = JSON.parse(event.data)\n            switch (message.action) {\n                case \"run\": badge = \"bg-info\"; break;\n                case \"save\": badge = \"bg-primary\"; break;\n                case \"error\": badge = \"bg-danger\"; break;\n                case \"cron\": badge = \"bg-success\"; break;\n                default: badge = \"bg-primary\";\n            }\n            $(\"#listbody\").prepend('<tr><td><span class=\"badge ' + badge + '\">' + message.action + '</span></th><td>' + ('data' in message ? '<a href=\"/display/' + message.data.id + '\">' + message.data.name + '</a>': '') + '</td><td>' + new Date().toISOString().replace('T',' ').substring(0,19) + '</td></tr>');\n        }\n    }\n    \n    ws.onclose = function(event) {\n        alert('Something bad happened...')\n        window.location.reload();\n    }\n    \n    ws.onerror = function(err) {\n        alert('Something bad happened...')\n        window.location.reload();\n    };\n</script>",
      "output": "str",
      "x": 550,
      "y": 660,
      "wires": [
        [
          "c4482de57443f263"
        ]
      ]
    },
    {
      "id": "bcb541d6ed3ec5c2",
      "type": "http in",
      "z": "24572482.d3f29c",
      "name": "",
      "url": "/notif",
      "method": "get",
      "upload": false,
      "swaggerDoc": "",
      "x": 360,
      "y": 660,
      "wires": [
        [
          "1cebe99bb583d4de"
        ]
      ]
    },
    {
      "id": "d4a33ac225124d3d",
      "type": "websocket in",
      "z": "24572482.d3f29c",
      "name": "",
      "server": "06afd692f88faa11",
      "client": "",
      "x": 350,
      "y": 720,
      "wires": [
        [
          "bece320c6c9cc06a"
        ]
      ]
    },
    {
      "id": "bece320c6c9cc06a",
      "type": "debug",
      "z": "24572482.d3f29c",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 510,
      "y": 720,
      "wires": []
    },
    {
      "id": "b10dcb9de3de9c68",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{ \"action\": \"error\", \"data\": msg.payload }",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 640,
      "y": 560,
      "wires": [
        [
          "c7ca2c45e0b8c436"
        ]
      ]
    },
    {
      "id": "b140a5f2d45307f3",
      "type": "websocket out",
      "z": "a81d4931.2fa598",
      "name": "",
      "server": "06afd692f88faa11",
      "client": "",
      "x": 1220,
      "y": 220,
      "wires": []
    },
    {
      "id": "a5f08071c78ccc1d",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{ \"action\": \"cron\", \"data\": msg.payload }",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 1240,
      "y": 180,
      "wires": [
        [
          "b140a5f2d45307f3"
        ]
      ]
    },
    {
      "id": "fce17ad171a7a16c",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "",
      "property": "payload.active",
      "propertyType": "msg",
      "rules": [
        {
          "t": "eq",
          "v": "1",
          "vt": "str"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 1,
      "x": 690,
      "y": 40,
      "wires": [
        [
          "db96a7d37c598f8a"
        ]
      ]
    },
    {
      "id": "3eb39c1065cb1971",
      "type": "switch",
      "z": "a81d4931.2fa598",
      "name": "CRON",
      "property": "($millis() - $toMillis(msg.payload.date)) > $number(msg.payload.cron) * 60000",
      "propertyType": "jsonata",
      "rules": [
        {
          "t": "true"
        },
        {
          "t": "else"
        }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 810,
      "y": 100,
      "wires": [
        [
          "7062692b.e654e8"
        ],
        []
      ]
    },
    {
      "id": "b617dff9973cf54e",
      "type": "change",
      "z": "a81d4931.2fa598",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload",
          "pt": "msg",
          "to": "{ \"action\": \"run\" }",
          "tot": "jsonata"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 300,
      "y": 40,
      "wires": [
        [
          "d255444b687b26ec"
        ]
      ]
    },
    {
      "id": "d255444b687b26ec",
      "type": "websocket out",
      "z": "a81d4931.2fa598",
      "name": "",
      "server": "06afd692f88faa11",
      "client": "",
      "x": 500,
      "y": 40,
      "wires": []
    },
    {
      "id": "93dd2934f717b096",
      "type": "http in",
      "z": "c5f66470.31a8f8",
      "name": "",
      "url": "/api/checks",
      "method": "post",
      "upload": false,
      "swaggerDoc": "",
      "x": 120,
      "y": 460,
      "wires": [
        [
          "a8690a7077d20176"
        ]
      ]
    },
    {
      "id": "a8690a7077d20176",
      "type": "split",
      "z": "c5f66470.31a8f8",
      "name": "",
      "splt": "\\n",
      "spltType": "str",
      "arraySplt": 1,
      "arraySpltType": "len",
      "stream": false,
      "addname": "",
      "x": 320,
      "y": 460,
      "wires": [
        [
          "c4c004b033df0e41"
        ]
      ]
    },
    {
      "id": "1bb70cf55847b98a",
      "type": "join",
      "z": "c5f66470.31a8f8",
      "name": "",
      "mode": "custom",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "payload.id",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": true,
      "timeout": "",
      "count": "",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "",
      "reduceFixup": "",
      "x": 790,
      "y": 460,
      "wires": [
        [
          "6202364c94c903e2",
          "14679b05.c929b5"
        ]
      ]
    },
    {
      "id": "c4c004b033df0e41",
      "type": "change",
      "z": "c5f66470.31a8f8",
      "name": "",
      "rules": [
        {
          "t": "set",
          "p": "payload.force",
          "pt": "msg",
          "to": "0",
          "tot": "num"
        },
        {
          "t": "set",
          "p": "payload.date",
          "pt": "msg",
          "to": "$now() + msg.parts.index * 10000",
          "tot": "jsonata"
        },
        {
          "t": "set",
          "p": "payload.statusCode",
          "pt": "msg",
          "to": "600",
          "tot": "num"
        }
      ],
      "action": "",
      "property": "",
      "from": "",
      "to": "",
      "reg": false,
      "x": 560,
      "y": 460,
      "wires": [
        [
          "1bb70cf55847b98a"
        ]
      ]
    }
  ]