flows/Flow-Evaluation/Core-Flows/sequence/join/01 - Automatic join mode.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "afe74de5.58488",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Example: Automatic Mode",
        "info": "Join node can be used to join payload of messages into single message payload. In automatic mode, it uses `parts` property to decide sequence of messages to join.",
        "x": 270,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0c8c78e.1281e8",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "c59ac70d.bb9c58"
            ]
        ]
    },
    {
        "id": "c59ac70d.bb9c58",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana\nKiwi",
        "output": "str",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "21829618.af5b0a"
            ]
        ]
    },
    {
        "id": "d6c9fe0.d34ad",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "8defdbb8.aa9c08"
            ]
        ]
    },
    {
        "id": "21829618.af5b0a",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 610,
        "y": 460,
        "wires": [
            [
                "d6c9fe0.d34ad"
            ]
        ]
    },
    {
        "id": "8defdbb8.aa9c08",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "d96759bf.eabe38",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Join message sequence created by split node",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    },
    {
        "id": "a46bcdd3.db621",
        "type": "csv",
        "z": "c74047fa59370239",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 610,
        "y": 620,
        "wires": [
            [
                "5d1c8a1e.691f74"
            ]
        ]
    },
    {
        "id": "65bf1807.dafad8",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "3640a5ef.f1e0ea"
            ]
        ]
    },
    {
        "id": "3640a5ef.f1e0ea",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "name,price\nApple,100\nOrange,80\nBanana,120\nKiwi,50",
        "output": "str",
        "x": 470,
        "y": 620,
        "wires": [
            [
                "a46bcdd3.db621"
            ]
        ]
    },
    {
        "id": "5d1c8a1e.691f74",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 750,
        "y": 620,
        "wires": [
            [
                "457ab3c9.7301ec"
            ]
        ]
    },
    {
        "id": "457ab3c9.7301ec",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "d9f508c1.916c18",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Join message sequence created by csv node",
        "info": "",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "28970739.29e728",
        "type": "csv",
        "z": "c74047fa59370239",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "bbc984d8.be42d8"
            ]
        ]
    },
    {
        "id": "c8297669.559348",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "6",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 780,
        "wires": [
            [
                "2f8f819f.3371be"
            ]
        ]
    },
    {
        "id": "2f8f819f.3371be",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "name,price\nApple,100\nOrange,80\nBanana,120\nKiwi,50",
        "output": "str",
        "x": 470,
        "y": 780,
        "wires": [
            [
                "28970739.29e728"
            ]
        ]
    },
    {
        "id": "716ea12e.1edb6",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 890,
        "y": 780,
        "wires": [
            [
                "967a8991.a09208"
            ]
        ]
    },
    {
        "id": "967a8991.a09208",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1050,
        "y": 780,
        "wires": []
    },
    {
        "id": "332b2da9.4bc242",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Join message sequence filtered by switch node",
        "info": "",
        "x": 380,
        "y": 720,
        "wires": []
    },
    {
        "id": "bbc984d8.be42d8",
        "type": "switch",
        "z": "c74047fa59370239",
        "name": "",
        "property": "payload.price",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "100",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 1,
        "x": 750,
        "y": 780,
        "wires": [
            [
                "716ea12e.1edb6"
            ]
        ]
    },
    {
        "id": "6ff91f94.438e2",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input text data into message sequence",
        "info": "",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "9de138c7.480f08",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ automatically join message sequence using parts property",
        "info": "",
        "x": 920,
        "y": 420,
        "wires": []
    },
    {
        "id": "f06b21f.1d748e",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ automatically join message sequence using parts property",
        "info": "",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "e0075028.900bb",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input csv data into message sequence of rows",
        "info": "",
        "x": 760,
        "y": 660,
        "wires": []
    },
    {
        "id": "1a390528.cf792b",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input csv data into message sequence of rows",
        "info": "",
        "x": 760,
        "y": 860,
        "wires": []
    },
    {
        "id": "eb05ee61.9e266",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ automatically join message sequence using parts property",
        "info": "",
        "x": 1060,
        "y": 740,
        "wires": []
    },
    {
        "id": "33575fc6.e9b07",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ filter message seuqnce and create new sequence",
        "info": "",
        "x": 890,
        "y": 820,
        "wires": []
    }
]