flows/Flow-Evaluation/Core-Flows/sequence/join/03 - Reduce sequence mode.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9279b993.ba7ed8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Example: Reduce Mode",
        "info": "Join node can be used to reduce message sequence to single value.  In reduce mode, reduce operation for a sequence can be described using JSONata expression with following special variables:\n- `$A`: the accumulated value,\n- `$I`: index of the message in the sequence,\n- `$N`: number of messages in the sequence.\n",
        "x": 420,
        "y": 300,
        "wires": []
    },
    {
        "id": "e415861b.d82e38",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "7c8a4816.500ed8"
            ]
        ]
    },
    {
        "id": "7c8a4816.500ed8",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "[\n    1,\n    2,\n    3,\n    4,\n    5,\n    6,\n    7,\n    8,\n    9,\n    10\n]",
        "output": "json",
        "x": 620,
        "y": 420,
        "wires": [
            [
                "7f64da1f.611014"
            ]
        ]
    },
    {
        "id": "5fde318f.23897",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "reduce",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "$A+payload",
        "reduceInit": "0",
        "reduceInitType": "num",
        "reduceFixup": "$A/$N",
        "x": 900,
        "y": 420,
        "wires": [
            [
                "50977eaf.0490b"
            ]
        ]
    },
    {
        "id": "50977eaf.0490b",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "57bce4bf.38d02c",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Calculate average of message sequence",
        "info": "",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "d33e73a8.5896",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input array data into messages",
        "info": "",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "34482f62.61abd",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ reduce sequence to average value",
        "info": "",
        "x": 990,
        "y": 380,
        "wires": []
    },
    {
        "id": "7f64da1f.611014",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 760,
        "y": 420,
        "wires": [
            [
                "5fde318f.23897"
            ]
        ]
    },
    {
        "id": "e051fd76.1af1e",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 580,
        "wires": [
            [
                "14318520.397a9b"
            ]
        ]
    },
    {
        "id": "14318520.397a9b",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana\nKiwi",
        "output": "str",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "41d85177.9b6f1"
            ]
        ]
    },
    {
        "id": "8fac92f8.0974c",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "reduce",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "$append($A,[payload])",
        "reduceInit": "[]",
        "reduceInitType": "json",
        "reduceFixup": "",
        "x": 900,
        "y": 580,
        "wires": [
            [
                "5bf98f81.6db17"
            ]
        ]
    },
    {
        "id": "5bf98f81.6db17",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "7dc61153.a9062",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Convert message sequence to array",
        "info": "",
        "x": 490,
        "y": 520,
        "wires": []
    },
    {
        "id": "7f14c8b2.d775f8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input text data into messages",
        "info": "",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "85a2470f.5b9ce8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ reduce sequence to arrray of payloads",
        "info": "",
        "x": 1010,
        "y": 540,
        "wires": []
    },
    {
        "id": "41d85177.9b6f1",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "8fac92f8.0974c"
            ]
        ]
    },
    {
        "id": "ec455af2.e31cb8",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 740,
        "wires": [
            [
                "693a0274.e62d6c"
            ]
        ]
    },
    {
        "id": "693a0274.e62d6c",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana\nKiwi",
        "output": "str",
        "x": 620,
        "y": 740,
        "wires": [
            [
                "d8374d2d.34863"
            ]
        ]
    },
    {
        "id": "805c900a.c6b7c",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "reduce",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": true,
        "reduceExp": "$append($A,[payload])",
        "reduceInit": "[]",
        "reduceInitType": "json",
        "reduceFixup": "",
        "x": 900,
        "y": 740,
        "wires": [
            [
                "f8be3623.b8e358"
            ]
        ]
    },
    {
        "id": "f8be3623.b8e358",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 740,
        "wires": []
    },
    {
        "id": "88fe5fe0.b08ca",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Convert message sequence to array in reverse order",
        "info": "",
        "x": 540,
        "y": 680,
        "wires": []
    },
    {
        "id": "f95fff12.45fda",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input text data into messages",
        "info": "",
        "x": 850,
        "y": 780,
        "wires": []
    },
    {
        "id": "b7eecb8c.e6b858",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ reduce sequence to arrray of payloads in reverse order",
        "info": "",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "d8374d2d.34863",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "805c900a.c6b7c"
            ]
        ]
    },
    {
        "id": "fb404773.0eb728",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 900,
        "wires": [
            [
                "8139dcd5.2300d"
            ]
        ]
    },
    {
        "id": "8139dcd5.2300d",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "Apple\nOrange\nBanana\nKiwi",
        "output": "str",
        "x": 620,
        "y": 900,
        "wires": [
            [
                "c6ff515e.f95fd"
            ]
        ]
    },
    {
        "id": "fcff950d.0f67c8",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "reduce",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": ",",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "$append($A,[{\t  \"name\": payload,\t  \"index\": $I\t}])",
        "reduceInit": "[]",
        "reduceInitType": "json",
        "reduceFixup": "",
        "x": 900,
        "y": 900,
        "wires": [
            [
                "6d082a22.2fb214"
            ]
        ]
    },
    {
        "id": "6d082a22.2fb214",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1060,
        "y": 900,
        "wires": []
    },
    {
        "id": "19daaf11.40d701",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Convert message sequence to array of objects with name and index",
        "info": "",
        "x": 590,
        "y": 840,
        "wires": []
    },
    {
        "id": "b60f900.592e47",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ split input text data into messages",
        "info": "",
        "x": 850,
        "y": 940,
        "wires": []
    },
    {
        "id": "62ffb2e1.28d8ec",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↓ reduce sequence to arrray of objects",
        "info": "",
        "x": 1000,
        "y": 860,
        "wires": []
    },
    {
        "id": "c6ff515e.f95fd",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 760,
        "y": 900,
        "wires": [
            [
                "fcff950d.0f67c8"
            ]
        ]
    }
]