flows/Flow-Evaluation/Download-based/1-Toggle.json
[
    {
        "id": "6d565a3c.17c584",
        "type": "subflow",
        "name": "Toggle",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "a6449155.3cdd8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 440,
                "y": 60,
                "wires": [
                    {
                        "id": "519f75ef.d3d8cc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 440,
                "y": 140,
                "wires": [
                    {
                        "id": "d35764b.91d1e98",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "option1",
                "type": "bool",
                "value": "true"
            },
            {
                "name": "option2",
                "type": "bool",
                "value": "false"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "outputLabels": [
            "Option 1",
            "Option 2"
        ],
        "icon": "node-red/switch.svg",
        "status": {
            "x": 440,
            "y": 100,
            "wires": [
                {
                    "id": "519f75ef.d3d8cc",
                    "port": 0
                },
                {
                    "id": "d35764b.91d1e98",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "519f75ef.d3d8cc",
        "type": "change",
        "z": "6d565a3c.17c584",
        "name": "Option 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "option1",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "next",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d35764b.91d1e98",
        "type": "change",
        "z": "6d565a3c.17c584",
        "name": "Option 2",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "option2",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "next",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a6449155.3cdd8",
        "type": "switch",
        "z": "6d565a3c.17c584",
        "name": "",
        "property": "next",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "519f75ef.d3d8cc"
            ],
            [
                "d35764b.91d1e98"
            ]
        ]
    },
    {
        "id": "6e77c1e0.dd9ba8",
        "type": "tab",
        "label": "Use-Toggle-sobflow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "555886eec6caa70b",
        "type": "subflow:6d565a3c.17c584",
        "z": "6e77c1e0.dd9ba8",
        "name": "",
        "x": 710,
        "y": 440,
        "wires": [
            [
                "608c4e0c813cd5ad"
            ],
            [
                "f505dedd3cce5c4e"
            ]
        ]
    },
    {
        "id": "83ea532cb2e334f9",
        "type": "inject",
        "z": "6e77c1e0.dd9ba8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 490,
        "y": 440,
        "wires": [
            [
                "555886eec6caa70b"
            ]
        ]
    },
    {
        "id": "608c4e0c813cd5ad",
        "type": "debug",
        "z": "6e77c1e0.dd9ba8",
        "name": "Out-1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "f505dedd3cce5c4e",
        "type": "debug",
        "z": "6e77c1e0.dd9ba8",
        "name": "Out-2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    }
]