flows/Flow-Evaluation/Download-based/Get-Active-Endpoint.json
[
    {
        "id": "c3961d41.0f858",
        "type": "tab",
        "label": "Scan Subnet for Devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "65168979.688ce",
        "type": "http in",
        "z": "c3961d41.0f858",
        "name": "",
        "url": "/api/list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "b0e10dcd.50e4f"
            ]
        ]
    },
    {
        "id": "b0e10dcd.50e4f",
        "type": "change",
        "z": "c3961d41.0f858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "oldheaders",
                "pt": "msg",
                "to": "headers",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 200,
        "wires": [
            [
                "c11f4503.d488c8"
            ]
        ]
    },
    {
        "id": "c11f4503.d488c8",
        "type": "change",
        "z": "c3961d41.0f858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NRHOST",
                "pt": "global",
                "to": "req.headers.host",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "19a1d475.8f5abc",
                "9b736cc5.7e86c8"
            ]
        ]
    },
    {
        "id": "c69658fa.4f7908",
        "type": "http in",
        "z": "c3961d41.0f858",
        "name": "",
        "url": "/api/list/:subset",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "b0e10dcd.50e4f"
            ]
        ]
    },
    {
        "id": "19a1d475.8f5abc",
        "type": "debug",
        "z": "c3961d41.0f858",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "db3e3eb4.00ac9",
        "type": "debug",
        "z": "c3961d41.0f858",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b736cc5.7e86c8",
        "type": "change",
        "z": "c3961d41.0f858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 440,
        "wires": [
            [
                "99aeedb2.85b51",
                "9a9a346b.c360c8"
            ]
        ]
    },
    {
        "id": "99aeedb2.85b51",
        "type": "http request",
        "z": "c3961d41.0f858",
        "name": "self - flows",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "127.0.0.1:1880/flows",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 500,
        "wires": [
            [
                "ed1f56a1.491998",
                "1948a739.545e31"
            ]
        ]
    },
    {
        "id": "9a9a346b.c360c8",
        "type": "debug",
        "z": "c3961d41.0f858",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 440,
        "wires": []
    },
    {
        "id": "ed1f56a1.491998",
        "type": "debug",
        "z": "c3961d41.0f858",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "1948a739.545e31",
        "type": "function",
        "z": "c3961d41.0f858",
        "name": "",
        "func": "var input = msg.payload;\nvar endpoints = [];\nvar tabs = [];\n\nvar filter = \"\";\n\nif(msg.hasOwnProperty(\"req\") && \n   msg.req.hasOwnProperty(\"params\") &&\n   msg.req.params.hasOwnProperty(\"subset\")){\n        filter = msg.req.params.subset;\n}\n\ninput.forEach(function(i){\n    \n        if(\"tab\"==i.type){\n            var tab = {\"label\":i.label,\"id\":i.id};\n            tabs.push(tab);\n        }\n        \n        if(\"http in\"==i.type){\n            var item = {\"url\": i.url, \"method\":i.method, \"name\": i.name,\"tab\":''};\n            var params = i.url.replace(/\\?.*$/,'').split('/:');\n            \n            var parmnames=[];\n            \n            if (params.length > 1){\n                var z = 0;\n                params.forEach(function(k){\n                    if(z > 0){\n                      var p = {\"name\": k};\n                        parmnames.push(p);\n                    }\n                    z++;\n                });\n                parmnames[parmnames.length-1].last = true;\n                item.parameters=parmnames;\n            }\n            \n            item.tab = tabs.find(function(j){\n                if(j.id == i.z) {\n                    return j; \n                }\n            }).label;\n\n            if(filter === \"\") {\n               if(!i.url.match(/~/)){\n                   endpoints.push(item);\n              }\n            }\n            else\n                if(i.url.match(filter)){\n                   endpoints.push(item);\n                }\n        } \n    });\n    \nmsg.tabs=tabs;\n\nmsg.payload = endpoints.sort(function(a, b){\n    if(a.url < b.url) return -1;\n    if(a.url > b.url) return 1;\n    return 0;\n    });\nmsg.payload[msg.payload.length-1].last = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 600,
        "wires": [
            [
                "790dafef.eae418"
            ]
        ]
    },
    {
        "id": "790dafef.eae418",
        "type": "template",
        "z": "c3961d41.0f858",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<h3>Active endpoints</h3>\n<table>\n{{#payload}}\n<tr><td>{{tab}}</td><td><a href=\"{{{url}}}\">{{{url}}}</a></td><td>{{method}}</td><td>{{name}}</td></tr>\n{{/payload}}\n</table>\n</html>",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "bc1d70a8.d73bf",
                "3b053404.e062b4"
            ]
        ]
    },
    {
        "id": "bc1d70a8.d73bf",
        "type": "change",
        "z": "c3961d41.0f858",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "oldheaders",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "6a4c47fe.cc27d"
            ]
        ]
    },
    {
        "id": "3b053404.e062b4",
        "type": "debug",
        "z": "c3961d41.0f858",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "6a4c47fe.cc27d",
        "type": "http response",
        "z": "c3961d41.0f858",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 540,
        "wires": []
    }
]