flows/Flow-Evaluation/Download-based/Object-Detection.json
[
    {
        "id": "22b8998c.123256",
        "type": "tab",
        "label": "Object detection example flow",
        "disabled": false,
        "info": "This flow uses the https://developer.ibm.com/exchanges/models/all/max-object-detector/ deep learning model from the Model Asset Exchange to localize and identify multiple objects in a single image. Refer to the documentation for information about the returned message.\n\nInstall the following three modules to run this example flow:\n - [node-red-contrib-model-asset-exchange](https://www.npmjs.com/package/node-red-contrib-model-asset-exchange)\n - [node-red-contrib-browser-utils](https://www.npmjs.com/package/node-red-contrib-browser-utils)\n - [node-red-contrib-image-output](https://npmjs.org/package/node-red-contrib-image-output)\n \n> Note: The object-detector node has been pre-configured to use a hosted model evaluation instance. We recommend using your own local or cloud instance for purposes other than evaluation.\n\nTo adjust the size of the image output in this flow, double-click the **Image output** node. Image width is set to 300px by default."
    },
    {
        "id": "33009a4c.b7edc6",
        "type": "debug",
        "z": "22b8998c.123256",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "7519a8e5.338358",
        "type": "object-detector",
        "z": "22b8998c.123256",
        "service": "344d7f84.2e972",
        "method": "predict",
        "passthrough": true,
        "annotated_input": false,
        "predict_body": "",
        "predict_bodyType": "str",
        "predict_threshold": "0.7",
        "predict_thresholdType": "str",
        "name": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "33009a4c.b7edc6"
            ]
        ]
    },
    {
        "id": "61bd50ca.9d9f2",
        "type": "comment",
        "z": "22b8998c.123256",
        "name": "Localize and identify multiple objects in a single image, then display the output",
        "info": "",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "6a8c35fc.af10ec",
        "type": "comment",
        "z": "22b8998c.123256",
        "name": "To adjust the size of the preview image, double-click the \"Image output\" node",
        "info": "By default, the image width is set to 300px.",
        "x": 310,
        "y": 77,
        "wires": []
    },
    {
        "id": "e6132d6fd8133ca4",
        "type": "file in",
        "z": "22b8998c.123256",
        "name": "",
        "filename": "cat.jpg",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "7519a8e5.338358",
                "e4853cc2da831a16"
            ]
        ]
    },
    {
        "id": "13d41af9466fa39e",
        "type": "inject",
        "z": "22b8998c.123256",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e6132d6fd8133ca4"
            ]
        ]
    },
    {
        "id": "e4853cc2da831a16",
        "type": "debug",
        "z": "22b8998c.123256",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "344d7f84.2e972",
        "type": "object-detector-service",
        "host": "http://130.229.162.109:5000",
        "name": "cloud"
    }
]