flows/Flow-Evaluation/Core-Flows/sequence/sort/01 - Sort array payload.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6451c8bb.b52278",
        "type": "sort",
        "z": "c74047fa59370239",
        "name": "",
        "order": "ascending",
        "as_num": false,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 790,
        "y": 320,
        "wires": [
            [
                "cb34307c.ac1dd"
            ]
        ]
    },
    {
        "id": "638546c.38f1fb8",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "db5d90ac.bbb3f"
            ]
        ]
    },
    {
        "id": "3ec02cae.012ce4",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Sort array payload as string in ascending order",
        "info": "",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "db5d90ac.bbb3f",
        "type": "template",
        "z": "c74047fa59370239",
        "name": "data",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\n    \"orange\",\n    \"banana\",\n    \"apple\",\n    \"pear\",\n    \"kiwi\"\n]",
        "output": "json",
        "x": 650,
        "y": 320,
        "wires": [
            [
                "6451c8bb.b52278"
            ]
        ]
    },
    {
        "id": "cb34307c.ac1dd",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "4bab755b.a073dc",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ sort payload as array of string in ascending order",
        "info": "",
        "x": 930,
        "y": 360,
        "wires": []
    },
    {
        "id": "7ced03b9.75dd8c",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Example: Sort Array Payload",
        "info": "Sort node can be used to message payload that points to a JavaScript array.  It can specify sort order and sort key.  Sort key can be payload value or JSONata expression.  If JSONata expression is used, the expression is applied to `payload` value.\n",
        "x": 460,
        "y": 200,
        "wires": []
    }
]