flows/Flow-Evaluation/Core-Flows/sequence/batch/03 - Concatenate mode.json
[
    {
        "id": "c74047fa59370239",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cf1fd796.197678",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SEQ",
        "payload": "[1,2,3,4,5]",
        "payloadType": "json",
        "x": 510,
        "y": 380,
        "wires": [
            [
                "d1c8ddf0.99b4e"
            ]
        ]
    },
    {
        "id": "d1c8ddf0.99b4e",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "f727a5d3.ea1a28"
            ]
        ]
    },
    {
        "id": "f727a5d3.ea1a28",
        "type": "batch",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "concat",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": "SEQ"
            },
            {
                "topic": "SEQ"
            }
        ],
        "x": 810,
        "y": 380,
        "wires": [
            [
                "f4d6dba4.7e8ab8"
            ]
        ]
    },
    {
        "id": "f4d6dba4.7e8ab8",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 950,
        "y": 380,
        "wires": [
            [
                "31b81865.611788"
            ]
        ]
    },
    {
        "id": "31b81865.611788",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "8ad6b9c.7ee8548",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Duplicate",
        "info": "",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "5137b2d0.f4838c",
        "type": "inject",
        "z": "c74047fa59370239",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SEQ",
        "payload": "[1,-6,-8,7,2,-3]",
        "payloadType": "json",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "408f3032.eafc1"
            ]
        ]
    },
    {
        "id": "408f3032.eafc1",
        "type": "split",
        "z": "c74047fa59370239",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 670,
        "y": 500,
        "wires": [
            [
                "dbd6e8b8.cbf2b8"
            ]
        ]
    },
    {
        "id": "c70a7fad.9ee08",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Filter & Concat",
        "info": "",
        "x": 460,
        "y": 460,
        "wires": []
    },
    {
        "id": "dbd6e8b8.cbf2b8",
        "type": "switch",
        "z": "c74047fa59370239",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 730,
        "y": 560,
        "wires": [
            [
                "c11e5c5f.876d6"
            ],
            [
                "e99c703b.f404"
            ]
        ]
    },
    {
        "id": "356c8654.2ad1aa",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ Duplicate SEQ",
        "info": "",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "c11e5c5f.876d6",
        "type": "change",
        "z": "c74047fa59370239",
        "name": "Topic←POS",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "POS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 520,
        "wires": [
            [
                "3412e439.eda55c"
            ]
        ]
    },
    {
        "id": "e99c703b.f404",
        "type": "change",
        "z": "c74047fa59370239",
        "name": "Topic←NEG",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "NEG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 580,
        "wires": [
            [
                "3412e439.eda55c"
            ]
        ]
    },
    {
        "id": "3412e439.eda55c",
        "type": "batch",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "concat",
        "count": 10,
        "overlap": 0,
        "interval": 10,
        "allowEmptySequence": false,
        "topics": [
            {
                "topic": "NEG"
            },
            {
                "topic": "POS"
            }
        ],
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "7f1ce95c.7ddbc8"
            ]
        ]
    },
    {
        "id": "e6f01877.16d558",
        "type": "debug",
        "z": "c74047fa59370239",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 500,
        "wires": []
    },
    {
        "id": "7f1ce95c.7ddbc8",
        "type": "join",
        "z": "c74047fa59370239",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "e6f01877.16d558"
            ]
        ]
    },
    {
        "id": "c548f2c.641141",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "↑ Order sequence: negative→positive",
        "info": "",
        "x": 1150,
        "y": 600,
        "wires": []
    },
    {
        "id": "c571b56c.ae63b8",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Filter pos/neg and make separate sequence↑ (but not a simple sort) ",
        "info": "",
        "x": 660,
        "y": 620,
        "wires": []
    },
    {
        "id": "c851c021.a9688",
        "type": "comment",
        "z": "c74047fa59370239",
        "name": "Example: Concatenate Mode",
        "info": "*Concatenate mode* of batch node can be used to combine input message sequences to create a new message sequence. Order of the sequences can be specified using message topic assigned to each message in a sequence.  Message sequence can be specified multiple times.\n",
        "x": 460,
        "y": 280,
        "wires": []
    }
]