flows/Flow-Evaluation/Security-rel/Check-email.json
[
    {
        "id": "ceeab8ee2b3f2b7b",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c94bce6e988457ba",
        "type": "e-mail in",
        "z": "ceeab8ee2b3f2b7b",
        "name": "",
        "protocol": "IMAP",
        "server": "webmail.kth.se",
        "useSSL": true,
        "autotls": "required",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "Inbox",
        "disposition": "None",
        "criteria": "UNSEEN",
        "repeat": "10",
        "fetch": "trigger",
        "inputs": 1,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "4fda013964235101",
                "2d06d81eaae9091f"
            ]
        ]
    },
    {
        "id": "4fda013964235101",
        "type": "function",
        "z": "ceeab8ee2b3f2b7b",
        "name": "function 1",
        "func": "msg.payload.light = true;\nvar tmp \nif (msg.payload.length != 0){\n    tmp = \"you have a new message from: \";\n    for (const val of msg.payload) {\n        tmp = tmp + val.from.text + \",\"\n    }\n}\nelse {\ntmp = \"you don't have a new message\"\n}\n\nmsg.payload = tmp;\nconsole.log(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 440,
        "wires": [
            [
                "e74a0a0904e25aad"
            ]
        ]
    },
    {
        "id": "3e4b37dfc33bd6c7",
        "type": "http in",
        "z": "ceeab8ee2b3f2b7b",
        "name": "",
        "url": "/emailnotif",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "c94bce6e988457ba"
            ]
        ]
    },
    {
        "id": "6c482ee0363b5b69",
        "type": "comment",
        "z": "ceeab8ee2b3f2b7b",
        "name": "Simple",
        "info": "",
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "e74a0a0904e25aad",
        "type": "http response",
        "z": "ceeab8ee2b3f2b7b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 640,
        "wires": []
    },
    {
        "id": "2d06d81eaae9091f",
        "type": "debug",
        "z": "ceeab8ee2b3f2b7b",
        "name": "debug 2",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 300,
        "wires": []
    }
]