flows/Delay.json
[
    {
        "id": "9c57f0e2255f7d67",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cdac4ce9bbfcd12",
        "type": "inject",
        "z": "9c57f0e2255f7d67",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "28a0b64d6fdb4049",
                "0e610a52b9743bf7"
            ]
        ]
    },
    {
        "id": "28a0b64d6fdb4049",
        "type": "delay",
        "z": "9c57f0e2255f7d67",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 620,
        "y": 440,
        "wires": [
            [
                "aeabf0225a89b043"
            ]
        ]
    },
    {
        "id": "0e610a52b9743bf7",
        "type": "debug",
        "z": "9c57f0e2255f7d67",
        "name": "IMD-message",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 200,
        "wires": []
    },
    {
        "id": "aeabf0225a89b043",
        "type": "debug",
        "z": "9c57f0e2255f7d67",
        "name": "DLAYED-Messgae",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 420,
        "wires": []
    }
]