flows/exec.json
[
    {
        "id": "ee95a8e54947b791",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b7dcb1049810c2c",
        "type": "exec",
        "z": "ee95a8e54947b791",
        "command": "free -h",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Exec",
        "x": 470,
        "y": 260,
        "wires": [
            [
                "407552c8fae5dd67"
            ],
            [],
            []
        ]
    },
    {
        "id": "a9d39723e1faf03d",
        "type": "inject",
        "z": "ee95a8e54947b791",
        "name": "Inject",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "27acd25080524ece"
            ]
        ]
    },
    {
        "id": "033a3e8d73ee84aa",
        "type": "comment",
        "z": "ee95a8e54947b791",
        "name": "Node Red - CPU and Memory usage",
        "info": "",
        "x": 510,
        "y": 120,
        "wires": []
    },
    {
        "id": "407552c8fae5dd67",
        "type": "file",
        "z": "ee95a8e54947b791",
        "name": "Write file",
        "filename": "monitor-output.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 800,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "88fd917d4bb5aa92",
        "type": "debug",
        "z": "ee95a8e54947b791",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "8babdc95ae83e98d",
        "type": "catch",
        "z": "ee95a8e54947b791",
        "name": "",
        "scope": [
            "1b7dcb1049810c2c"
        ],
        "uncaught": false,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "88fd917d4bb5aa92"
            ]
        ]
    },
    {
        "id": "27acd25080524ece",
        "type": "change",
        "z": "ee95a8e54947b791",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "free -h",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "1b7dcb1049810c2c"
            ]
        ]
    }
]