flows/Junction.json
[
    {
        "id": "f9cb07a7.161b3",
        "type": "tab",
        "label": "status-node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "188da19d1406237c",
        "type": "junction",
        "z": "f9cb07a7.161b3",
        "x": 620,
        "y": 300,
        "wires": [
            [
                "1031513cbd6a12b3",
                "4f600391b468fead"
            ]
        ]
    },
    {
        "id": "73a73feb46fc903a",
        "type": "function",
        "z": "f9cb07a7.161b3",
        "name": "function 1",
        "func": "var msg1 = { payload: \"1\"};\nvar msg2 = { payload: \"2\"};\n\nreturn [msg1, msg2];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "188da19d1406237c"
            ]
        ]
    },
    {
        "id": "f0d810b35c4f1fe8",
        "type": "inject",
        "z": "f9cb07a7.161b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "73a73feb46fc903a"
            ]
        ]
    },
    {
        "id": "4f600391b468fead",
        "type": "debug",
        "z": "f9cb07a7.161b3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "1031513cbd6a12b3",
        "type": "debug",
        "z": "f9cb07a7.161b3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 320,
        "wires": []
    }
]