flows/Link.json
[
    {
        "id": "f9cb07a7.161b3",
        "type": "tab",
        "label": "status-node",
        "disabled": false,
        "info": ""
    },
    {
        "id": "62ea32aa.d73aac",
        "type": "comment",
        "z": "f9cb07a7.161b3",
        "name": "Example: Link Call Node",
        "info": "Link call node can call link in node then get result from link out node.",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "c588bc36.87fec",
        "type": "comment",
        "z": "f9cb07a7.161b3",
        "name": "↓ call link in node",
        "info": "",
        "x": 720,
        "y": 340,
        "wires": []
    },
    {
        "id": "cd31efb4d2c6967e",
        "type": "link call",
        "z": "f9cb07a7.161b3",
        "name": "",
        "links": [
            "dbc46892c8d14c37"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "c3db64d1d2260340"
            ]
        ]
    },
    {
        "id": "dbc46892c8d14c37",
        "type": "link in",
        "z": "f9cb07a7.161b3",
        "name": "",
        "links": [],
        "x": 595,
        "y": 460,
        "wires": [
            [
                "e10575d73f2e5352"
            ]
        ]
    },
    {
        "id": "6b61792143b3b0a3",
        "type": "inject",
        "z": "f9cb07a7.161b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 530,
        "y": 380,
        "wires": [
            [
                "cd31efb4d2c6967e"
            ]
        ]
    },
    {
        "id": "e10575d73f2e5352",
        "type": "change",
        "z": "f9cb07a7.161b3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello, World!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 460,
        "wires": [
            [
                "cf8438e7137bc0f0"
            ]
        ]
    },
    {
        "id": "cf8438e7137bc0f0",
        "type": "link out",
        "z": "f9cb07a7.161b3",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 875,
        "y": 460,
        "wires": []
    },
    {
        "id": "c3db64d1d2260340",
        "type": "debug",
        "z": "f9cb07a7.161b3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d077dfa0987febb",
        "type": "comment",
        "z": "f9cb07a7.161b3",
        "name": "↑called from link call node",
        "info": "",
        "x": 690,
        "y": 500,
        "wires": []
    },
    {
        "id": "53b9a0adfd8c4217",
        "type": "comment",
        "z": "f9cb07a7.161b3",
        "name": "↑return to link call node",
        "info": "",
        "x": 960,
        "y": 500,
        "wires": []
    }
]