flows/mayflower.json
[
    {
        "id": "35b52933466bf94e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5bf5693196cccc62",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2a2e83b11cfae034",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f334df4c6fcff532",
        "type": "mqtt-broker",
        "name": "Mayflower",
        "broker": "mqtt.mas400.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "65473d5b0349acfe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f3dc0fb33009a459",
        "type": "mqtt in",
        "z": "35b52933466bf94e",
        "name": "MQTT in",
        "topic": "status/JSON",
        "qos": "1",
        "datatype": "utf8",
        "broker": "f334df4c6fcff532",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "55f6ed226da91744"
            ]
        ]
    },
    {
        "id": "c63d814f6da16eaf",
        "type": "mqtt out",
        "z": "35b52933466bf94e",
        "name": "MQTT out",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "65473d5b0349acfe",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "55f6ed226da91744",
        "type": "json",
        "z": "35b52933466bf94e",
        "name": "String to JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "d0ec1b795f7a8722"
            ]
        ]
    },
    {
        "id": "d0ec1b795f7a8722",
        "type": "join",
        "z": "35b52933466bf94e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "a38bccb8847afd7b"
            ]
        ]
    },
    {
        "id": "a38bccb8847afd7b",
        "type": "function",
        "z": "35b52933466bf94e",
        "name": "",
        "func": "const pos = msg.payload;\n\nconst lat1 = parseFloat(pos[0].shipLatitudeDeg);\nconst lon1 = parseFloat(pos[0].shipLongitudeDeg);\n\nconst lat2 = parseFloat(pos[1].shipLatitudeDeg);\nconst lon2 = parseFloat(pos[1].shipLongitudeDeg);\n\nconst degToRad = Math.PI / 180;\nconst R = 6378100; // radius of earth in meters\n\nconst speed = R * degToRad * Math.sqrt(Math.pow(Math.cos(lat1 * degToRad ) * (lon1 - lon2) , 2) + Math.pow(lat1 - lat2, 2));\n\nreturn {\n    payload: speed,\n    topic: \"speed\"\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 240,
        "wires": [
            [
                "c63d814f6da16eaf",
                "05d71b9c4e35cb29"
            ]
        ]
    },
    {
        "id": "05d71b9c4e35cb29",
        "type": "debug",
        "z": "35b52933466bf94e",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "dba09cd180828385",
        "type": "catch",
        "z": "35b52933466bf94e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 220,
        "y": 480,
        "wires": [
            [
                "9b51495bc49f967e"
            ]
        ]
    },
    {
        "id": "9b51495bc49f967e",
        "type": "debug",
        "z": "35b52933466bf94e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 480,
        "wires": []
    }
]