flows/object_detector.json
[
    {
        "id": "a8b676e802467987",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "aea1c09aadff83d0",
        "type": "file",
        "z": "a8b676e802467987",
        "name": "Write file",
        "filename": "object_detection_output.jpeg",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "binary",
        "x": 680,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0a8edd03eb17b607",
        "type": "function",
        "z": "a8b676e802467987",
        "name": "",
        "func": "\nconst payload = msg.annotatedInput.toString(\"binary\");\n\nreturn {\n    payload: payload\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "aea1c09aadff83d0"
            ]
        ]
    },
    {
        "id": "acb4b61ad9e45af6",
        "type": "tcp in",
        "z": "a8b676e802467987",
        "name": "TCP in",
        "server": "server",
        "host": "",
        "port": "9998",
        "datamode": "single",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "45593cbed59c830f"
            ]
        ]
    },
    {
        "id": "45593cbed59c830f",
        "type": "cocossd",
        "z": "a8b676e802467987",
        "name": "node-red-contrib-tensorflow",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "0a8edd03eb17b607"
            ]
        ]
    }
]