flows/Switch.json
[
    {
        "id": "1401d664616fc956",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "temperature-route-node",
        "type": "switch",
        "z": "1401d664616fc956",
        "name": "Temperature Routing",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "15",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "15",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 300,
        "wires": [
            [
                "below-25-node"
            ],
            [
                "above-25-node"
            ]
        ]
    },
    {
        "id": "below-25-node",
        "type": "debug",
        "z": "1401d664616fc956",
        "name": "Below 15°C",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "above-25-node",
        "type": "debug",
        "z": "1401d664616fc956",
        "name": "Above 15°C",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 340,
        "wires": []
    },
    {
        "id": "43d33bb2f89da5da",
        "type": "inject",
        "z": "1401d664616fc956",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "1a8c4a948308ad6f"
            ]
        ]
    },
    {
        "id": "1a8c4a948308ad6f",
        "type": "change",
        "z": "1401d664616fc956",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"sensorType\": \"temperature\", \"value\": $floor(25*$random())}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "temperature-route-node"
            ]
        ]
    }
]