flows/template.json
[
    {
        "id": "5e15f379f0c79eae",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eaf91a6b.a55da8",
        "type": "comment",
        "z": "5e15f379f0c79eae",
        "name": "Advanced mustache example",
        "info": "Template node can create a string value using [Mustache](http://mustache.github.io/mustache.5.html) syntax.",
        "x": 520,
        "y": 240,
        "wires": []
    },
    {
        "id": "61fbfe34.14a02",
        "type": "inject",
        "z": "5e15f379f0c79eae",
        "name": "Price of fruits",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Fruits",
        "payload": "[{\"name\":\"apple\",\"price\":100},{\"name\":\"orange\",\"price\":80},{\"name\":\"banana\",\"price\":210}]",
        "payloadType": "json",
        "x": 540,
        "y": 300,
        "wires": [
            [
                "bf0cb02.d8e4b5"
            ]
        ]
    },
    {
        "id": "bf0cb02.d8e4b5",
        "type": "template",
        "z": "5e15f379f0c79eae",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "# Price List of {{topic}}\n\n{{! outputs list of prices }}\n{{#payload}}\n- {{name}}: {{price}}\n{{/payload}}\n",
        "output": "str",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "153eb0ff.5622df"
            ]
        ]
    },
    {
        "id": "153eb0ff.5622df",
        "type": "debug",
        "z": "5e15f379f0c79eae",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 300,
        "wires": []
    }
]