flows/TLS.json
[
    {
        "id": "9f9801d7cd86be51",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1543b89bd38946e5",
        "type": "inject",
        "z": "9f9801d7cd86be51",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Test",
        "payloadType": "str",
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "0d892c098465c4d4"
            ]
        ]
    },
    {
        "id": "0d892c098465c4d4",
        "type": "tcp request",
        "z": "9f9801d7cd86be51",
        "name": "",
        "server": "localhost",
        "port": "2000",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "trim": false,
        "tls": "b74801226ed9d557",
        "x": 610,
        "y": 960,
        "wires": [
            [
                "8693b2f014b3e391"
            ]
        ]
    },
    {
        "id": "8693b2f014b3e391",
        "type": "debug",
        "z": "9f9801d7cd86be51",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1120,
        "wires": []
    },
    {
        "id": "47ea781edc740765",
        "type": "tcp in",
        "z": "9f9801d7cd86be51",
        "name": "",
        "server": "server",
        "host": "",
        "port": "2000",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "b74801226ed9d557",
        "x": 340,
        "y": 1180,
        "wires": [
            [
                "269850b9bdf47412"
            ]
        ]
    },
    {
        "id": "269850b9bdf47412",
        "type": "debug",
        "z": "9f9801d7cd86be51",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1180,
        "wires": []
    },
    {
        "id": "eb71451ce5b37597",
        "type": "tls-config",
        "name": "",
        "cert": "user-dir/server.cert",
        "key": "user-dir/server.key",
        "ca": "user-dir/ca.pem",
        "certname": "server.cert",
        "keyname": "server.key",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]