flows/weather.json
[
    {
        "id": "1e758f114b976c7e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8c9a8a9626bbd28f",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 840,
        "wires": []
    },
    {
        "id": "f38a2b739897f0a8",
        "type": "inject",
        "z": "1e758f114b976c7e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 960,
        "wires": [
            [
                "92ccf91f556e2e2a"
            ]
        ]
    },
    {
        "id": "92ccf91f556e2e2a",
        "type": "debug",
        "z": "1e758f114b976c7e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 960,
        "wires": []
    },
    {
        "id": "20c43256475e561a",
        "type": "catch",
        "z": "1e758f114b976c7e",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 840,
        "wires": [
            [
                "8c9a8a9626bbd28f"
            ]
        ]
    },
    {
        "id": "aead96f816218865",
        "type": "http request",
        "z": "1e758f114b976c7e",
        "name": "HTTP request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://188.166.16.132/data/2.5/weather?appid=507697fdd55b0698d816d8c82ee7a655&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 899.9999923706055,
        "y": 203.33333778381348,
        "wires": [
            [
                "0f2b343f4b8dda93"
            ]
        ]
    },
    {
        "id": "3eb2f5ce2e0855e7",
        "type": "function",
        "z": "1e758f114b976c7e",
        "name": "Reformat",
        "func": "const city = msg.payload[0]\nreturn {\n    payload: {\n        lat: city.lat,\n        lon: city.lon\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 719.9999923706055,
        "y": 143.33333778381348,
        "wires": [
            [
                "aead96f816218865",
                "aead96f816218865"
            ]
        ]
    },
    {
        "id": "bac5864796c7d408",
        "type": "function",
        "z": "1e758f114b976c7e",
        "name": "Format result",
        "func": "\n\nconst main = msg.payload.main;\n\nconst response = \n`The temperature in ${msg.payload.name} is currently ${main.temp} but it feels like ${main.feels_like}.\nWindspeed: ${msg.payload.wind.speed} \nHumidity: ${main.humidity}%`;\n\nreturn {\n    payload: response,\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 429.99999237060547,
        "y": 323.3333377838135,
        "wires": [
            [
                "4b6fdd93663a1f67",
                "4b6fdd93663a1f67"
            ]
        ]
    },
    {
        "id": "6509390634d208f9",
        "type": "http request",
        "z": "1e758f114b976c7e",
        "name": "HTTP request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "http://188.166.16.132/geo/1.0/direct?appid=507697fdd55b0698d816d8c82ee7a655&limit=5&q={{payload.value}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 539.9999923706055,
        "y": 203.33333778381348,
        "wires": [
            [
                "3eb2f5ce2e0855e7",
                "3eb2f5ce2e0855e7"
            ]
        ]
    },
    {
        "id": "4b6fdd93663a1f67",
        "type": "join",
        "z": "1e758f114b976c7e",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 689.9999923706055,
        "y": 323.3333377838135,
        "wires": [
            [
                "2dd4f7e75b813efc",
                "2dd4f7e75b813efc"
            ]
        ]
    },
    {
        "id": "3efc420f6eb01974",
        "type": "function",
        "z": "1e758f114b976c7e",
        "name": "Create input",
        "func": "\nreturn {\n    payload: {\n        value: msg.payload.city,\n        format: \"json\"\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 369.99999237060547,
        "y": 163.33333778381348,
        "wires": [
            [
                "6509390634d208f9",
                "6509390634d208f9"
            ]
        ]
    },
    {
        "id": "7c3d98dee1484ade",
        "type": "http in",
        "z": "1e758f114b976c7e",
        "name": "HTTP-in",
        "url": "/get-weather",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 139.99999237060547,
        "y": 223.33333778381348,
        "wires": [
            [
                "3efc420f6eb01974",
                "3efc420f6eb01974",
                "4b6fdd93663a1f67"
            ]
        ]
    },
    {
        "id": "2dd4f7e75b813efc",
        "type": "http response",
        "z": "1e758f114b976c7e",
        "name": "HTTP-out",
        "statusCode": "200",
        "headers": {
            "content-type": "text/plain"
        },
        "x": 859.9999923706055,
        "y": 323.3333377838135,
        "wires": []
    },
    {
        "id": "3872af8bc3633f08",
        "type": "link in",
        "z": "1e758f114b976c7e",
        "name": "",
        "links": [],
        "x": 284.99999237060547,
        "y": 323.3333377838135,
        "wires": [
            [
                "bac5864796c7d408"
            ]
        ]
    },
    {
        "id": "0f2b343f4b8dda93",
        "type": "link out",
        "z": "1e758f114b976c7e",
        "name": "",
        "mode": "link",
        "links": [],
        "x": 1034.9999923706055,
        "y": 203.33333778381348,
        "wires": []
    }
]